---
http_interactions:
- request:
    method: post
    uri: https://api.easypost.com/v2/addresses
    body:
      encoding: US-ASCII
      string: address[name]=Newt%20Scamander&address[company]=Spree%20Test%20Store%205&address[street1]=200%2019th%20St&address[city]=Birmingham&address[state]=AL&address[country]=US&address[zip]=35203&address[phone]=123456789
    headers:
      Authorization:
      - Bearer CvzYtuda6KRI9JjG7SAHbA
      Content-Type:
      - application/x-www-form-urlencoded
  response:
    status:
      code: 201
      message: Created
    headers:
      Location:
      - "/api/v2/addresses/adr_a83ef03b62a34e4fa261c52c298fef08"
      Content-Type:
      - application/json; charset=utf-8
      Etag:
      - W/"07388caccc3c145188d796835f4fe5a6"
      X-Node:
      - 317b571a6b
      - easypost
      - web4sj
      X-Backend:
      - easypost
      X-Proxied:
      - lb4sj, 0ccc190e51
    body:
      encoding: UTF-8
      string: '{"id":"adr_a83ef03b62a34e4fa261c52c298fef08","object":"Address","created_at":"2015-12-15T22:59:52Z","updated_at":"2015-12-15T22:59:52Z","name":"Newt
        Scamander","company":"Spree Test Store 5","street1":"200 19th St","street2":null,"city":"Birmingham","state":"AL","zip":"35203","country":"US","phone":"123456789","email":null,"mode":"test","carrier_facility":null,"residential":null,"federal_tax_id":null,"verifications":{}}'
  recorded_at: Tue, 15 Dec 2015 22:59:52 GMT
[...]
- request:
    method: post
    uri: https://api.easypost.com/v2/parcels
    body:
      encoding: US-ASCII
      string: parcel[weight]=20.0
    headers:
      Authorization:
      - Bearer CvzYtuda6KRI9JjG7SAHbA
      Content-Type:
      - application/x-www-form-urlencoded
  response:
    status:
      code: 201
      message: Created
    headers:
      Location:
      - "/api/v2/parcels/prcl_d09dee8a7b644c8884de3232e103de1d"
      Content-Type:
      - application/json; charset=utf-8
      Etag:
      - W/"c1545fdcce936bc1e2dc2133ef48c70e"
      X-Node:
      - 317b571a6b
      - easypost
      - web15sj
      X-Backend:
      - easypost
      X-Proxied:
      - lb4sj, 0ccc190e51
    body:
      encoding: UTF-8
      string: '{"id":"prcl_d09dee8a7b644c8884de3232e103de1d","object":"Parcel","created_at":"2015-12-15T22:59:54Z","updated_at":"2015-12-15T22:59:54Z","length":null,"width":null,"height":null,"predefined_package":null,"weight":20.0,"mode":"test"}'
  recorded_at: Tue, 15 Dec 2015 22:59:54 GMT
- request:
    method: post
    uri: https://api.easypost.com/v2/shipments
    body:
      encoding: US-ASCII
      string: shipment[to_address][id]=adr_a83ef03b62a34e4fa261c52c298fef08&shipment[from_address][id]=adr_69513af745b74899804675de73c52f95&shipment[parcel][id]=prcl_d09dee8a7b644c8884de3232e103de1d
    headers:
      Authorization:
      - Bearer CvzYtuda6KRI9JjG7SAHbA
      Content-Type:
      - application/x-www-form-urlencoded
  response:
    status:
      code: 201
      message: Created
    headers:
      Location:
      - "/account/shipments/shp_5c61221da2e64207879421c24446cbba"
      Content-Type:
      - application/json; charset=utf-8
      Etag:
      - W/"3435b68418aea6ef0d8bbd73b181e1ce"
      X-Node:
      - 317b571a6b
      - easypost
      - web5sj
      X-Backend:
      - easypost
      X-Proxied:
      - lb5sj, 0ccc190e51
    body:
      encoding: UTF-8
      string: '{"created_at":"2015-12-15T22:59:55Z","is_return":false,"messages":[],"mode":"test","options":{"currency":"USD","label_date":null},"reference":null,"status":"unknown","tracking_code":null,"updated_at":"2015-12-15T22:59:55Z","batch_id":null,"batch_status":null,"batch_message":null,"customs_info":null,"from_address":{"id":"adr_69513af745b74899804675de73c52f95","object":"Address","created_at":"2015-12-15T22:59:53Z","updated_at":"2015-12-15T22:59:53Z","name":null,"company":"Spree
        Test Store 5","street1":"2630 Cahaba Rd","street2":null,"city":"Birmingham","state":"AL","zip":"35223","country":"US","phone":"2024561111","email":null,"mode":"test","carrier_facility":null,"residential":null,"federal_tax_id":null,"verifications":{}},"insurance":null,"parcel":{"id":"prcl_d09dee8a7b644c8884de3232e103de1d","object":"Parcel","created_at":"2015-12-15T22:59:54Z","updated_at":"2015-12-15T22:59:54Z","length":null,"width":null,"height":null,"predefined_package":null,"weight":20.0,"mode":"test"},"postage_label":null,"rates":[{"id":"rate_60f0aa8870234b4eb9818a15e286a8c3","object":"Rate","created_at":"2015-12-15T22:59:56Z","updated_at":"2015-12-15T22:59:56Z","mode":"test","service":"Priority","carrier":"USPS","rate":"5.32","currency":"USD","retail_rate":null,"retail_currency":null,"list_rate":"5.32","list_currency":"USD","delivery_days":null,"delivery_date":null,"delivery_date_guaranteed":null,"est_delivery_days":null,"shipment_id":"shp_5c61221da2e64207879421c24446cbba","carrier_account_id":"ca_mtb51Ve0"},{"id":"rate_b0f636104c53487ca824f828312d8d7d","object":"Rate","created_at":"2015-12-15T22:59:56Z","updated_at":"2015-12-15T22:59:56Z","mode":"test","service":"ParcelSelect","carrier":"USPS","rate":"5.90","currency":"USD","retail_rate":null,"retail_currency":null,"list_rate":"5.90","list_currency":"USD","delivery_days":null,"delivery_date":null,"delivery_date_guaranteed":null,"est_delivery_days":null,"shipment_id":"shp_5c61221da2e64207879421c24446cbba","carrier_account_id":"ca_mtb51Ve0"},{"id":"rate_74bd7fe63b534b7f9c09da432c391efc","object":"Rate","created_at":"2015-12-15T22:59:56Z","updated_at":"2015-12-15T22:59:56Z","mode":"test","service":"Express","carrier":"USPS","rate":"15.58","currency":"USD","retail_rate":null,"retail_currency":null,"list_rate":"15.58","list_currency":"USD","delivery_days":1,"delivery_date":null,"delivery_date_guaranteed":null,"est_delivery_days":1,"shipment_id":"shp_5c61221da2e64207879421c24446cbba","carrier_account_id":"ca_mtb51Ve0"}],"refund_status":null,"scan_form":null,"selected_rate":null,"tracker":null,"to_address":{"id":"adr_a83ef03b62a34e4fa261c52c298fef08","object":"Address","created_at":"2015-12-15T22:59:52Z","updated_at":"2015-12-15T22:59:52Z","name":"Newt
        Scamander","company":"Spree Test Store 5","street1":"200 19th St","street2":null,"city":"Birmingham","state":"AL","zip":"35203","country":"US","phone":"123456789","email":null,"mode":"test","carrier_facility":null,"residential":null,"federal_tax_id":null,"verifications":{}},"usps_zone":1,"return_address":{"id":"adr_69513af745b74899804675de73c52f95","object":"Address","created_at":"2015-12-15T22:59:53Z","updated_at":"2015-12-15T22:59:53Z","name":null,"company":"Spree
        Test Store 5","street1":"2630 Cahaba Rd","street2":null,"city":"Birmingham","state":"AL","zip":"35223","country":"US","phone":"2024561111","email":null,"mode":"test","carrier_facility":null,"residential":null,"federal_tax_id":null,"verifications":{}},"buyer_address":{"id":"adr_a83ef03b62a34e4fa261c52c298fef08","object":"Address","created_at":"2015-12-15T22:59:52Z","updated_at":"2015-12-15T22:59:52Z","name":"Newt
        Scamander","company":"Spree Test Store 5","street1":"200 19th St","street2":null,"city":"Birmingham","state":"AL","zip":"35203","country":"US","phone":"123456789","email":null,"mode":"test","carrier_facility":null,"residential":null,"federal_tax_id":null,"verifications":{}},"forms":[],"fees":[],"id":"shp_5c61221da2e64207879421c24446cbba","object":"Shipment"}'
  recorded_at: Tue, 15 Dec 2015 22:59:56 GMT
- request:
    method: get
    uri: https://api.easypost.com/v2/shipments/shp_5c61221da2e64207879421c24446cbba
    body:
      encoding: US-ASCII
      string: ''
    headers:
      Authorization:
      - Bearer CvzYtuda6KRI9JjG7SAHbA
      Content-Type:
      - application/x-www-form-urlencoded
  response:
    status:
      code: 200
      message: OK
    headers:
      Content-Type:
      - application/json; charset=utf-8
      Etag:
      - W/"3435b68418aea6ef0d8bbd73b181e1ce"
      X-Node:
 [...]
- request:
    method: post
    uri: https://api.easypost.com/v2/shipments/shp_5c61221da2e64207879421c24446cbba/buy
    body:
      encoding: US-ASCII
      string: rate[id]=rate_60f0aa8870234b4eb9818a15e286a8c3
    headers:
      Authorization:
      - Bearer CvzYtuda6KRI9JjG7SAHbA
      Content-Type:
      - application/x-www-form-urlencoded
  response:
    status:
      code: 200
      message: OK
    headers:
      Content-Type:
      - application/json; charset=utf-8
      Etag:
      - W/"c4afb4db2aadb8cf8a044ae8e8a01e0d"
      X-Node:
      - 317b571a6b
      - easypost
      - web15sj
      X-Backend:
      - easypost
      X-Proxied:
      - lb5sj, 0ccc190e51
    body:
      encoding: UTF-8
      string: '{"postage_label":{"id":"pl_dcd0e9296fea470091cd1f8b929d7b5a","object":"PostageLabel","created_at":"2015-12-15T22:59:58Z","updated_at":"2015-12-15T22:59:58Z","date_advance":0,"integrated_form":"none","label_date":"2015-12-15T22:59:55Z","label_resolution":300,"label_size":"4x6","label_type":"default","label_url":"http://assets.geteasypost.com/postage_labels/labels/20151215/20057114776d4181891681d57eaf0f5b.png","label_file_type":"image/png","label_pdf_url":null,"label_epl2_url":null,"label_zpl_url":null},"tracking_code":"9499907123456123456781","tracker":{"id":"trk_169c2d1e6ac44cf9b3f7c7a02be23c6d","object":"Tracker","mode":"test","tracking_code":"9499907123456123456781","status":"unknown","created_at":"2015-12-15T22:59:59Z","updated_at":"2015-12-15T22:59:59Z","signed_by":null,"weight":null,"est_delivery_date":null,"shipment_id":"shp_5c61221da2e64207879421c24446cbba","carrier":"USPS","tracking_details":[],"fees":[],"carrier_detail":null},"insurance":null,"selected_rate":{"id":"rate_60f0aa8870234b4eb9818a15e286a8c3","object":"Rate","created_at":"2015-12-15T22:59:56Z","updated_at":"2015-12-15T22:59:56Z","mode":"test","service":"Priority","carrier":"USPS","rate":"5.32","currency":"USD","retail_rate":null,"retail_currency":null,"list_rate":"5.32","list_currency":"USD","delivery_days":null,"delivery_date":null,"delivery_date_guaranteed":null,"est_delivery_days":null,"shipment_id":"shp_5c61221da2e64207879421c24446cbba","carrier_account_id":"ca_mtb51Ve0"},"forms":[],"messages":[],"fees":[{"object":"Fee","type":"LabelFee","amount":"0.05000","charged":false,"refunded":false},{"object":"Fee","type":"PostageFee","amount":"5.32000","charged":false,"refunded":false}]}'
  recorded_at: Tue, 15 Dec 2015 22:59:59 GMT
recorded_with: VCR 3.0.0
