---
http_interactions:
- request:
    method: post
    uri: https://api.easypost.com/v2/addresses
    body:
      encoding: US-ASCII
      string: address[name]=John%20Doe&address[company]=Company&address[street1]=215%20N%207th%20Ave&address[street2]=Northwest&address[city]=Manville&address[state]=NJ&address[country]=US&address[zip]=08835&address[phone]=555-555-0199
    headers:
      Authorization:
      - Bearer CvzYtuda6KRI9JjG7SAHbA
      Content-Type:
      - application/x-www-form-urlencoded
  response:
    status:
      code: 201
      message: Created
    headers:
      Location:
      - "/api/v2/addresses/adr_da39b5cdea414c80b751ab0d881b15b9"
      Content-Type:
      - application/json; charset=utf-8
      Etag:
      - W/"b2b0b402049ae7019c68fc33af54063d"
      X-Node:
      - 04da9322f2
      - easypost
      - web5sj
      X-Backend:
      - easypost
      X-Proxied:
      - lb4sj, b89c00fb8c
    body:
      encoding: UTF-8
      string: '{"id":"adr_da39b5cdea414c80b751ab0d881b15b9","object":"Address","created_at":"2015-12-15T03:41:34Z","updated_at":"2015-12-15T03:41:34Z","name":"John
        Doe","company":"Company","street1":"215 N 7th Ave","street2":"Northwest","city":"Manville","state":"NJ","zip":"08835","country":"US","phone":"5555550199","email":null,"mode":"test","carrier_facility":null,"residential":null,"federal_tax_id":null,"verifications":{}}'
  recorded_at: Tue, 15 Dec 2015 03:41:35 GMT
[...]
- request:
    method: post
    uri: https://api.easypost.com/v2/parcels
    body:
      encoding: US-ASCII
      string: parcel[weight]=10.0
    headers:
      Authorization:
      - Bearer CvzYtuda6KRI9JjG7SAHbA
      Content-Type:
      - application/x-www-form-urlencoded
  response:
    status:
      code: 201
      message: Created
    headers:
      Location:
      - "/api/v2/parcels/prcl_299e3cc09a76405fa644b2c00e5a5635"
      Content-Type:
      - application/json; charset=utf-8
      Etag:
      - W/"4810ccaa281275a652df4261ebc54415"
      X-Node:
      - 04da9322f2
      - easypost
      - web15sj
      X-Backend:
      - easypost
      X-Proxied:
      - lb4sj, b89c00fb8c
    body:
      encoding: UTF-8
      string: '{"id":"prcl_299e3cc09a76405fa644b2c00e5a5635","object":"Parcel","created_at":"2015-12-15T03:41:36Z","updated_at":"2015-12-15T03:41:36Z","length":null,"width":null,"height":null,"predefined_package":null,"weight":10.0,"mode":"test"}'
  recorded_at: Tue, 15 Dec 2015 03:41:36 GMT
- request:
    method: post
    uri: https://api.easypost.com/v2/shipments
    body:
      encoding: US-ASCII
      string: shipment[to_address][id]=adr_da39b5cdea414c80b751ab0d881b15b9&shipment[from_address][id]=adr_b478114775d64591954b34befe9068a0&shipment[parcel][id]=prcl_299e3cc09a76405fa644b2c00e5a5635
    headers:
      Authorization:
      - Bearer CvzYtuda6KRI9JjG7SAHbA
      Content-Type:
      - application/x-www-form-urlencoded
  response:
    status:
      code: 201
      message: Created
    headers:
      Location:
      - "/account/shipments/shp_d73e920653b548f3836406d490c2e91b"
      Content-Type:
      - application/json; charset=utf-8
      Etag:
      - W/"17a4590a6029fed99c62cf564d88f6aa"
      X-Node:
      - 04da9322f2
      - easypost
      - web15sj
      X-Backend:
      - easypost
      X-Proxied:
      - lb5sj, b89c00fb8c
    body:
      encoding: UTF-8
      string: '{"created_at":"2015-12-15T03:41:36Z","is_return":false,"messages":[],"mode":"test","options":{"currency":"USD","label_date":null},"reference":null,"status":"unknown","tracking_code":null,"updated_at":"2015-12-15T03:41:36Z","batch_id":null,"batch_status":null,"batch_message":null,"customs_info":null,"from_address":{"id":"adr_b478114775d64591954b34befe9068a0","object":"Address","created_at":"2015-12-15T03:41:35Z","updated_at":"2015-12-15T03:41:35Z","name":null,"company":"Spree
        Test Store 1","street1":"131 S 8th Ave","street2":null,"city":"Manville","state":"NJ","zip":"08835","country":"US","phone":"2024561111","email":null,"mode":"test","carrier_facility":null,"residential":null,"federal_tax_id":null,"verifications":{}},"insurance":null,"parcel":{"id":"prcl_299e3cc09a76405fa644b2c00e5a5635","object":"Parcel","created_at":"2015-12-15T03:41:36Z","updated_at":"2015-12-15T03:41:36Z","length":null,"width":null,"height":null,"predefined_package":null,"weight":10.0,"mode":"test"},"postage_label":null,"rates":[{"id":"rate_114ccc1778a44af8bcde10e729c01e22","object":"Rate","created_at":"2015-12-15T03:41:37Z","updated_at":"2015-12-15T03:41:37Z","mode":"test","service":"First","carrier":"USPS","rate":"3.07","currency":"USD","retail_rate":null,"retail_currency":null,"list_rate":"3.07","list_currency":"USD","delivery_days":null,"delivery_date":null,"delivery_date_guaranteed":null,"est_delivery_days":null,"shipment_id":"shp_d73e920653b548f3836406d490c2e91b","carrier_account_id":"ca_mtb51Ve0"},{"id":"rate_d0a60ecb8c6a48378ff03642e285f7b1","object":"Rate","created_at":"2015-12-15T03:41:37Z","updated_at":"2015-12-15T03:41:37Z","mode":"test","service":"Priority","carrier":"USPS","rate":"5.05","currency":"USD","retail_rate":null,"retail_currency":null,"list_rate":"5.05","list_currency":"USD","delivery_days":null,"delivery_date":null,"delivery_date_guaranteed":null,"est_delivery_days":null,"shipment_id":"shp_d73e920653b548f3836406d490c2e91b","carrier_account_id":"ca_mtb51Ve0"},{"id":"rate_b6426b08c35147329169ece6002624a0","object":"Rate","created_at":"2015-12-15T03:41:37Z","updated_at":"2015-12-15T03:41:37Z","mode":"test","service":"ParcelSelect","carrier":"USPS","rate":"5.70","currency":"USD","retail_rate":null,"retail_currency":null,"list_rate":"5.70","list_currency":"USD","delivery_days":null,"delivery_date":null,"delivery_date_guaranteed":null,"est_delivery_days":null,"shipment_id":"shp_d73e920653b548f3836406d490c2e91b","carrier_account_id":"ca_mtb51Ve0"},{"id":"rate_20cc4923de7a432e82ceba07c3a05fcd","object":"Rate","created_at":"2015-12-15T03:41:37Z","updated_at":"2015-12-15T03:41:37Z","mode":"test","service":"Express","carrier":"USPS","rate":"15.13","currency":"USD","retail_rate":null,"retail_currency":null,"list_rate":"15.13","list_currency":"USD","delivery_days":1,"delivery_date":null,"delivery_date_guaranteed":null,"est_delivery_days":1,"shipment_id":"shp_d73e920653b548f3836406d490c2e91b","carrier_account_id":"ca_mtb51Ve0"}],"refund_status":null,"scan_form":null,"selected_rate":null,"tracker":null,"to_address":{"id":"adr_da39b5cdea414c80b751ab0d881b15b9","object":"Address","created_at":"2015-12-15T03:41:34Z","updated_at":"2015-12-15T03:41:34Z","name":"John
        Doe","company":"Company","street1":"215 N 7th Ave","street2":"Northwest","city":"Manville","state":"NJ","zip":"08835","country":"US","phone":"5555550199","email":null,"mode":"test","carrier_facility":null,"residential":null,"federal_tax_id":null,"verifications":{}},"usps_zone":1,"return_address":{"id":"adr_b478114775d64591954b34befe9068a0","object":"Address","created_at":"2015-12-15T03:41:35Z","updated_at":"2015-12-15T03:41:35Z","name":null,"company":"Spree
        Test Store 1","street1":"131 S 8th Ave","street2":null,"city":"Manville","state":"NJ","zip":"08835","country":"US","phone":"2024561111","email":null,"mode":"test","carrier_facility":null,"residential":null,"federal_tax_id":null,"verifications":{}},"buyer_address":{"id":"adr_da39b5cdea414c80b751ab0d881b15b9","object":"Address","created_at":"2015-12-15T03:41:34Z","updated_at":"2015-12-15T03:41:34Z","name":"John
        Doe","company":"Company","street1":"215 N 7th Ave","street2":"Northwest","city":"Manville","state":"NJ","zip":"08835","country":"US","phone":"5555550199","email":null,"mode":"test","carrier_facility":null,"residential":null,"federal_tax_id":null,"verifications":{}},"forms":[],"fees":[],"id":"shp_d73e920653b548f3836406d490c2e91b","object":"Shipment"}'
  recorded_at: Tue, 15 Dec 2015 03:41:37 GMT
recorded_with: VCR 3.0.0
