---
http_interactions:
- request:
    method: post
    uri: https://api.easypost.com/v2/addresses
    body:
      encoding: US-ASCII
      string: address[street1]=215%20N%207th%20Ave&address[street2]=Northwest&address[city]=Manville&address[zip]=08835&address[phone]=555-555-0199&address[company]=Company&address[name]=John%20Doe&address[state]=NJ&address[country]=US
    headers:
      Authorization:
      - Bearer CvzYtuda6KRI9JjG7SAHbA
      Content-Type:
      - application/x-www-form-urlencoded
  response:
    status:
      code: 201
      message: Created
    headers:
      Location:
      - "/api/v2/addresses/adr_03cc9192ff8f4aa98b6069f33da1c958"
      Content-Type:
      - application/json; charset=utf-8
      Etag:
      - W/"f7b42024ca249faacf5dd881263cafea"
      X-Node:
      - easypost
      - ef92c5b480
      - web4sj
      X-Backend:
      - easypost
      X-Proxied:
      - lb5sj, b89c00fb8c
    body:
      encoding: UTF-8
      string: '{"id":"adr_03cc9192ff8f4aa98b6069f33da1c958","object":"Address","created_at":"2015-12-15T18:29:55Z","updated_at":"2015-12-15T18:29:55Z","name":"John
        Doe","company":"Company","street1":"215 N 7th Ave","street2":"Northwest","city":"Manville","state":"NJ","zip":"08835","country":"US","phone":"5555550199","email":null,"mode":"test","carrier_facility":null,"residential":null,"federal_tax_id":null,"verifications":{}}'
  recorded_at: Tue, 15 Dec 2015 18:29:55 GMT
[...]
- request:
    method: post
    uri: https://api.easypost.com/v2/parcels
    body:
      encoding: US-ASCII
      string: parcel[weight]=10.0
    headers:
      Authorization:
      - Bearer CvzYtuda6KRI9JjG7SAHbA
      Content-Type:
      - application/x-www-form-urlencoded
  response:
    status:
      code: 201
      message: Created
    headers:
      Location:
      - "/api/v2/parcels/prcl_d626665d55ed40068bc924a8d44dc28e"
      Content-Type:
      - application/json; charset=utf-8
      Etag:
      - W/"a8b262ea8cce58f036b1b4ec9c902752"
      X-Node:
      - easypost
      - ef92c5b480
      - web4sj
      X-Backend:
      - easypost
      X-Proxied:
      - lb5sj, b89c00fb8c
    body:
      encoding: UTF-8
      string: '{"id":"prcl_d626665d55ed40068bc924a8d44dc28e","object":"Parcel","created_at":"2015-12-15T18:29:57Z","updated_at":"2015-12-15T18:29:57Z","length":null,"width":null,"height":null,"predefined_package":null,"weight":10.0,"mode":"test"}'
  recorded_at: Tue, 15 Dec 2015 18:29:57 GMT
- request:
    method: post
    uri: https://api.easypost.com/v2/shipments
    body:
      encoding: US-ASCII
      string: shipment[to_address][id]=adr_03cc9192ff8f4aa98b6069f33da1c958&shipment[from_address][id]=adr_5d3da93ffd954b3ba2fbfe2f4ba2cd8a&shipment[parcel][id]=prcl_d626665d55ed40068bc924a8d44dc28e
    headers:
      Authorization:
      - Bearer CvzYtuda6KRI9JjG7SAHbA
      Content-Type:
      - application/x-www-form-urlencoded
  response:
    status:
      code: 201
      message: Created
    headers:
      Location:
      - "/account/shipments/shp_7b5701f9f0204c6eb9126685db4bb590"
      Content-Type:
      - application/json; charset=utf-8
      Etag:
      - W/"ad89b7eb237cca2c704386be693e74ce"
      X-Node:
      - easypost
      - ef92c5b480
      - web14sj
      X-Backend:
      - easypost
      X-Proxied:
      - lb4sj, b89c00fb8c
    body:
      encoding: UTF-8
      string: '{"created_at":"2015-12-15T18:29:58Z","is_return":false,"messages":[],"mode":"test","options":{"currency":"USD","label_date":null},"reference":null,"status":"unknown","tracking_code":null,"updated_at":"2015-12-15T18:29:58Z","batch_id":null,"batch_status":null,"batch_message":null,"customs_info":null,"from_address":{"id":"adr_5d3da93ffd954b3ba2fbfe2f4ba2cd8a","object":"Address","created_at":"2015-12-15T18:29:56Z","updated_at":"2015-12-15T18:29:56Z","name":null,"company":"Spree
        Test Store 5","street1":"131 S 8th Ave","street2":null,"city":"Manville","state":"NJ","zip":"08835","country":"US","phone":"2024561111","email":null,"mode":"test","carrier_facility":null,"residential":null,"federal_tax_id":null,"verifications":{}},"insurance":null,"parcel":{"id":"prcl_d626665d55ed40068bc924a8d44dc28e","object":"Parcel","created_at":"2015-12-15T18:29:57Z","updated_at":"2015-12-15T18:29:57Z","length":null,"width":null,"height":null,"predefined_package":null,"weight":10.0,"mode":"test"},"postage_label":null,"rates":[{"id":"rate_af0cac22d2f14d3390ef84b0864c53e8","object":"Rate","created_at":"2015-12-15T18:29:59Z","updated_at":"2015-12-15T18:29:59Z","mode":"test","service":"ParcelSelect","carrier":"USPS","rate":"5.70","currency":"USD","retail_rate":null,"retail_currency":null,"list_rate":"5.70","list_currency":"USD","delivery_days":null,"delivery_date":null,"delivery_date_guaranteed":null,"est_delivery_days":null,"shipment_id":"shp_7b5701f9f0204c6eb9126685db4bb590","carrier_account_id":"ca_mtb51Ve0"},{"id":"rate_74fd4089ac4f48fb94ed0624892b0e59","object":"Rate","created_at":"2015-12-15T18:29:59Z","updated_at":"2015-12-15T18:29:59Z","mode":"test","service":"First","carrier":"USPS","rate":"3.07","currency":"USD","retail_rate":null,"retail_currency":null,"list_rate":"3.07","list_currency":"USD","delivery_days":null,"delivery_date":null,"delivery_date_guaranteed":null,"est_delivery_days":null,"shipment_id":"shp_7b5701f9f0204c6eb9126685db4bb590","carrier_account_id":"ca_mtb51Ve0"},{"id":"rate_45d33ebe25fe4cffb1a63ee8fc6f7d66","object":"Rate","created_at":"2015-12-15T18:29:59Z","updated_at":"2015-12-15T18:29:59Z","mode":"test","service":"Priority","carrier":"USPS","rate":"5.05","currency":"USD","retail_rate":null,"retail_currency":null,"list_rate":"5.05","list_currency":"USD","delivery_days":null,"delivery_date":null,"delivery_date_guaranteed":null,"est_delivery_days":null,"shipment_id":"shp_7b5701f9f0204c6eb9126685db4bb590","carrier_account_id":"ca_mtb51Ve0"},{"id":"rate_fe7fea47b0514d99b1b45415127be68a","object":"Rate","created_at":"2015-12-15T18:29:59Z","updated_at":"2015-12-15T18:29:59Z","mode":"test","service":"Express","carrier":"USPS","rate":"15.13","currency":"USD","retail_rate":null,"retail_currency":null,"list_rate":"15.13","list_currency":"USD","delivery_days":1,"delivery_date":null,"delivery_date_guaranteed":null,"est_delivery_days":1,"shipment_id":"shp_7b5701f9f0204c6eb9126685db4bb590","carrier_account_id":"ca_mtb51Ve0"}],"refund_status":null,"scan_form":null,"selected_rate":null,"tracker":null,"to_address":{"id":"adr_03cc9192ff8f4aa98b6069f33da1c958","object":"Address","created_at":"2015-12-15T18:29:55Z","updated_at":"2015-12-15T18:29:55Z","name":"John
        Doe","company":"Company","street1":"215 N 7th Ave","street2":"Northwest","city":"Manville","state":"NJ","zip":"08835","country":"US","phone":"5555550199","email":null,"mode":"test","carrier_facility":null,"residential":null,"federal_tax_id":null,"verifications":{}},"usps_zone":1,"return_address":{"id":"adr_5d3da93ffd954b3ba2fbfe2f4ba2cd8a","object":"Address","created_at":"2015-12-15T18:29:56Z","updated_at":"2015-12-15T18:29:56Z","name":null,"company":"Spree
        Test Store 5","street1":"131 S 8th Ave","street2":null,"city":"Manville","state":"NJ","zip":"08835","country":"US","phone":"2024561111","email":null,"mode":"test","carrier_facility":null,"residential":null,"federal_tax_id":null,"verifications":{}},"buyer_address":{"id":"adr_03cc9192ff8f4aa98b6069f33da1c958","object":"Address","created_at":"2015-12-15T18:29:55Z","updated_at":"2015-12-15T18:29:55Z","name":"John
        Doe","company":"Company","street1":"215 N 7th Ave","street2":"Northwest","city":"Manville","state":"NJ","zip":"08835","country":"US","phone":"5555550199","email":null,"mode":"test","carrier_facility":null,"residential":null,"federal_tax_id":null,"verifications":{}},"forms":[],"fees":[],"id":"shp_7b5701f9f0204c6eb9126685db4bb590","object":"Shipment"}'
  recorded_at: Tue, 15 Dec 2015 18:30:06 GMT
[...]
