---
http_interactions:
- request:
    method: post
    uri: https://api.easypost.com/v2/addresses
    body:
      encoding: US-ASCII
      string: address[street1]=215%20N%207th%20Ave&address[street2]=Northwest&address[city]=Manville&address[zip]=08835&address[phone]=555-555-0199&address[company]=Company&address[name]=John%20Doe&address[state]=NJ&address[country]=US
    headers:
      Authorization:
      - Bearer CvzYtuda6KRI9JjG7SAHbA
      Content-Type:
      - application/x-www-form-urlencoded
  response:
    status:
      code: 201
      message: Created
    headers:
      Status:
      - 201 Created
      Location:
      - "/api/v2/addresses/adr_94b22b66dc2c492ebbc26feadb1431a2"
      Content-Type:
      - application/json; charset=utf-8
      Etag:
      - W/"382fea54d4073da3096f86bf4e69d1fb"
      X-Node:
      - web15sj, 9de5dd942b
      X-Backend:
      - easypost
      X-Proxied:
      - lb4sj, b89c00fb8c
    body:
      encoding: UTF-8
      string: '{"id":"adr_94b22b66dc2c492ebbc26feadb1431a2","object":"Address","created_at":"2015-12-14T18:36:12Z","updated_at":"2015-12-14T18:36:12Z","name":"John
        Doe","company":"Company","street1":"215 N 7th Ave","street2":"Northwest","city":"Manville","state":"NJ","zip":"08835","country":"US","phone":"5555550199","email":null,"mode":"test","carrier_facility":null,"residential":null,"federal_tax_id":null,"verifications":{}}'
  recorded_at: Mon, 14 Dec 2015 18:36:12 GMT
[...]
- request:
    method: post
    uri: https://api.easypost.com/v2/parcels
    body:
      encoding: US-ASCII
      string: parcel[weight]=10.0
    headers:
      Authorization:
      - Bearer CvzYtuda6KRI9JjG7SAHbA
      Content-Type:
      - application/x-www-form-urlencoded
  response:
    status:
      code: 201
      message: Created
    headers:
      Status:
      - 201 Created
      Location:
      - "/api/v2/parcels/prcl_727c5161701e4a19b6ee59f0ac83bb60"
      Content-Type:
      - application/json; charset=utf-8
      Etag:
      - W/"f5ed3419062970fb79bb07dc4c959124"
      X-Node:
      - web15sj, 9de5dd942b
      X-Backend:
      - easypost
      X-Proxied:
      - lb4sj, b89c00fb8c
    body:
      encoding: UTF-8
      string: '{"id":"prcl_727c5161701e4a19b6ee59f0ac83bb60","object":"Parcel","created_at":"2015-12-14T18:36:14Z","updated_at":"2015-12-14T18:36:14Z","length":null,"width":null,"height":null,"predefined_package":null,"weight":10.0,"mode":"test"}'
  recorded_at: Mon, 14 Dec 2015 18:36:14 GMT
- request:
    method: post
    uri: https://api.easypost.com/v2/shipments
    body:
      encoding: US-ASCII
      string: shipment[to_address][id]=adr_94b22b66dc2c492ebbc26feadb1431a2&shipment[from_address][id]=adr_cbc0cfaa961e42babfb4dd381d5cb4d4&shipment[parcel][id]=prcl_727c5161701e4a19b6ee59f0ac83bb60
    headers:
      Authorization:
      - Bearer CvzYtuda6KRI9JjG7SAHbA
      Content-Type:
      - application/x-www-form-urlencoded
  response:
    status:
      code: 201
      message: Created
    headers:
      Status:
      - 201 Created
      Location:
      - "/account/shipments/shp_61388f197dfa4c79be225d30a85ef304"
      Content-Type:
      - application/json; charset=utf-8
      Etag:
      - W/"42e8bc3a5c1e0fce5346acd62afc97da"
      X-Node:
      - web11sj, 9de5dd942b
      X-Backend:
      - easypost
      X-Proxied:
      - lb5sj, b89c00fb8c
    body:
      encoding: UTF-8
      string: '{"created_at":"2015-12-14T18:36:15Z","is_return":false,"messages":[],"mode":"test","options":{"currency":"USD","label_date":null},"reference":null,"status":"unknown","tracking_code":null,"updated_at":"2015-12-14T18:36:15Z","batch_id":null,"batch_status":null,"batch_message":null,"customs_info":null,"from_address":{"id":"adr_cbc0cfaa961e42babfb4dd381d5cb4d4","object":"Address","created_at":"2015-12-14T18:36:13Z","updated_at":"2015-12-14T18:36:13Z","name":null,"company":"Spree
        Test Store 7","street1":"131 S 8th Ave","street2":null,"city":"Manville","state":"NJ","zip":"08835","country":"US","phone":"2024561111","email":null,"mode":"test","carrier_facility":null,"residential":null,"federal_tax_id":null,"verifications":{}},"insurance":null,"parcel":{"id":"prcl_727c5161701e4a19b6ee59f0ac83bb60","object":"Parcel","created_at":"2015-12-14T18:36:14Z","updated_at":"2015-12-14T18:36:14Z","length":null,"width":null,"height":null,"predefined_package":null,"weight":10.0,"mode":"test"},"postage_label":null,"rates":[{"id":"rate_4471e0da36704bfb9ab9e5d96477024d","object":"Rate","created_at":"2015-12-14T18:36:16Z","updated_at":"2015-12-14T18:36:16Z","mode":"test","service":"First","carrier":"USPS","rate":"3.07","currency":"USD","retail_rate":null,"retail_currency":null,"list_rate":"3.07","list_currency":"USD","delivery_days":null,"delivery_date":null,"delivery_date_guaranteed":null,"est_delivery_days":null,"shipment_id":"shp_61388f197dfa4c79be225d30a85ef304","carrier_account_id":"ca_mtb51Ve0"},{"id":"rate_fe78faaf8485420fb551777f0f09fc42","object":"Rate","created_at":"2015-12-14T18:36:16Z","updated_at":"2015-12-14T18:36:16Z","mode":"test","service":"ParcelSelect","carrier":"USPS","rate":"5.70","currency":"USD","retail_rate":null,"retail_currency":null,"list_rate":"5.70","list_currency":"USD","delivery_days":null,"delivery_date":null,"delivery_date_guaranteed":null,"est_delivery_days":null,"shipment_id":"shp_61388f197dfa4c79be225d30a85ef304","carrier_account_id":"ca_mtb51Ve0"},{"id":"rate_b4682d928fe643d1b092d3dff1f12c87","object":"Rate","created_at":"2015-12-14T18:36:16Z","updated_at":"2015-12-14T18:36:16Z","mode":"test","service":"Priority","carrier":"USPS","rate":"5.05","currency":"USD","retail_rate":null,"retail_currency":null,"list_rate":"5.05","list_currency":"USD","delivery_days":null,"delivery_date":null,"delivery_date_guaranteed":null,"est_delivery_days":null,"shipment_id":"shp_61388f197dfa4c79be225d30a85ef304","carrier_account_id":"ca_mtb51Ve0"},{"id":"rate_f9e6ce0c8f4a4bc69d9539fa481ba680","object":"Rate","created_at":"2015-12-14T18:36:16Z","updated_at":"2015-12-14T18:36:16Z","mode":"test","service":"Express","carrier":"USPS","rate":"15.13","currency":"USD","retail_rate":null,"retail_currency":null,"list_rate":"15.13","list_currency":"USD","delivery_days":1,"delivery_date":null,"delivery_date_guaranteed":null,"est_delivery_days":1,"shipment_id":"shp_61388f197dfa4c79be225d30a85ef304","carrier_account_id":"ca_mtb51Ve0"}],"refund_status":null,"scan_form":null,"selected_rate":null,"tracker":null,"to_address":{"id":"adr_94b22b66dc2c492ebbc26feadb1431a2","object":"Address","created_at":"2015-12-14T18:36:12Z","updated_at":"2015-12-14T18:36:12Z","name":"John
        Doe","company":"Company","street1":"215 N 7th Ave","street2":"Northwest","city":"Manville","state":"NJ","zip":"08835","country":"US","phone":"5555550199","email":null,"mode":"test","carrier_facility":null,"residential":null,"federal_tax_id":null,"verifications":{}},"usps_zone":1,"return_address":{"id":"adr_cbc0cfaa961e42babfb4dd381d5cb4d4","object":"Address","created_at":"2015-12-14T18:36:13Z","updated_at":"2015-12-14T18:36:13Z","name":null,"company":"Spree
        Test Store 7","street1":"131 S 8th Ave","street2":null,"city":"Manville","state":"NJ","zip":"08835","country":"US","phone":"2024561111","email":null,"mode":"test","carrier_facility":null,"residential":null,"federal_tax_id":null,"verifications":{}},"buyer_address":{"id":"adr_94b22b66dc2c492ebbc26feadb1431a2","object":"Address","created_at":"2015-12-14T18:36:12Z","updated_at":"2015-12-14T18:36:12Z","name":"John
        Doe","company":"Company","street1":"215 N 7th Ave","street2":"Northwest","city":"Manville","state":"NJ","zip":"08835","country":"US","phone":"5555550199","email":null,"mode":"test","carrier_facility":null,"residential":null,"federal_tax_id":null,"verifications":{}},"forms":[],"fees":[],"id":"shp_61388f197dfa4c79be225d30a85ef304","object":"Shipment"}'
  recorded_at: Mon, 14 Dec 2015 18:36:16 GMT
recorded_with: VCR 3.0.0
