---
http_interactions:
- request:
    method: post
    uri: https://api.easypost.com/v2/addresses
    body:
      encoding: US-ASCII
      string: address[street1]=215%20N%207th%20Ave&address[street2]=Northwest&address[city]=Manville&address[zip]=08835&address[phone]=555-555-0199&address[company]=Company&address[name]=John%20Doe&address[state]=NJ&address[country]=US
    headers:
      Authorization:
      - Bearer CvzYtuda6KRI9JjG7SAHbA
      Content-Type:
      - application/x-www-form-urlencoded
  response:
    status:
      code: 201
      message: Created
    headers:
      Status:
      - 201 Created
      Location:
      - "/api/v2/addresses/adr_457aa77f0cb4437cbee19f511f1fff3c"
      Content-Type:
      - application/json; charset=utf-8
      Etag:
      - W/"745e5c051625c36a335160f57e983dfb"
      X-Node:
      - web15sj, 9de5dd942b
      X-Backend:
      - easypost
      X-Proxied:
      - lb4sj, b89c00fb8c
    body:
      encoding: UTF-8
      string: '{"id":"adr_457aa77f0cb4437cbee19f511f1fff3c","object":"Address","created_at":"2015-12-14T18:29:47Z","updated_at":"2015-12-14T18:29:47Z","name":"John
        Doe","company":"Company","street1":"215 N 7th Ave","street2":"Northwest","city":"Manville","state":"NJ","zip":"08835","country":"US","phone":"5555550199","email":null,"mode":"test","carrier_facility":null,"residential":null,"federal_tax_id":null,"verifications":{}}'
  recorded_at: Mon, 14 Dec 2015 18:29:48 GMT
[...]
- request:
    method: post
    uri: https://api.easypost.com/v2/parcels
    body:
      encoding: US-ASCII
      string: parcel[weight]=10.0
    headers:
      Authorization:
      - Bearer CvzYtuda6KRI9JjG7SAHbA
      Content-Type:
      - application/x-www-form-urlencoded
  response:
    status:
      code: 201
      message: Created
    headers:
      Status:
      - 201 Created
      Location:
      - "/api/v2/parcels/prcl_88e9a464453f4b2eb9ca5a7861801252"
      Content-Type:
      - application/json; charset=utf-8
      Etag:
      - W/"47374159018ff9a474c391307c3a8fa1"
      X-Node:
      - web4sj, 9de5dd942b
      X-Backend:
      - easypost
      X-Proxied:
      - lb4sj, b89c00fb8c
    body:
      encoding: UTF-8
      string: '{"id":"prcl_88e9a464453f4b2eb9ca5a7861801252","object":"Parcel","created_at":"2015-12-14T18:29:49Z","updated_at":"2015-12-14T18:29:49Z","length":null,"width":null,"height":null,"predefined_package":null,"weight":10.0,"mode":"test"}'
  recorded_at: Mon, 14 Dec 2015 18:29:50 GMT
- request:
    method: post
    uri: https://api.easypost.com/v2/shipments
    body:
      encoding: US-ASCII
      string: shipment[to_address][id]=adr_457aa77f0cb4437cbee19f511f1fff3c&shipment[from_address][id]=adr_326ff36f2d9b440685e4ee8ff18a9a9a&shipment[parcel][id]=prcl_88e9a464453f4b2eb9ca5a7861801252
    headers:
      Authorization:
      - Bearer CvzYtuda6KRI9JjG7SAHbA
      Content-Type:
      - application/x-www-form-urlencoded
  response:
    status:
      code: 201
      message: Created
    headers:
      Status:
      - 201 Created
      Location:
      - "/account/shipments/shp_8362dc4afdeb4ce6b19bce1780299326"
      Content-Type:
      - application/json; charset=utf-8
      Etag:
      - W/"4c26934b9cf6d0c51cd25e24eb5c9feb"
      X-Node:
      - web6sj, 9de5dd942b
      X-Backend:
      - easypost
      X-Proxied:
      - lb5sj, b89c00fb8c
    body:
      encoding: UTF-8
      string: '{"created_at":"2015-12-14T18:29:51Z","is_return":false,"messages":[],"mode":"test","options":{"currency":"USD","label_date":null},"reference":null,"status":"unknown","tracking_code":null,"updated_at":"2015-12-14T18:29:51Z","batch_id":null,"batch_status":null,"batch_message":null,"customs_info":null,"from_address":{"id":"adr_326ff36f2d9b440685e4ee8ff18a9a9a","object":"Address","created_at":"2015-12-14T18:29:48Z","updated_at":"2015-12-14T18:29:48Z","name":null,"company":"Spree
        Test Store 3","street1":"131 S 8th Ave","street2":null,"city":"Manville","state":"NJ","zip":"08835","country":"US","phone":"2024561111","email":null,"mode":"test","carrier_facility":null,"residential":null,"federal_tax_id":null,"verifications":{}},"insurance":null,"parcel":{"id":"prcl_88e9a464453f4b2eb9ca5a7861801252","object":"Parcel","created_at":"2015-12-14T18:29:49Z","updated_at":"2015-12-14T18:29:49Z","length":null,"width":null,"height":null,"predefined_package":null,"weight":10.0,"mode":"test"},"postage_label":null,"rates":[{"id":"rate_f99da690fc9f4f6b9c2b6eb11f0bb93a","object":"Rate","created_at":"2015-12-14T18:29:51Z","updated_at":"2015-12-14T18:29:51Z","mode":"test","service":"ParcelSelect","carrier":"USPS","rate":"5.70","currency":"USD","retail_rate":null,"retail_currency":null,"list_rate":"5.70","list_currency":"USD","delivery_days":null,"delivery_date":null,"delivery_date_guaranteed":null,"est_delivery_days":null,"shipment_id":"shp_8362dc4afdeb4ce6b19bce1780299326","carrier_account_id":"ca_mtb51Ve0"},{"id":"rate_b62ac4a2266e477189d06113ff9bed00","object":"Rate","created_at":"2015-12-14T18:29:51Z","updated_at":"2015-12-14T18:29:51Z","mode":"test","service":"First","carrier":"USPS","rate":"3.07","currency":"USD","retail_rate":null,"retail_currency":null,"list_rate":"3.07","list_currency":"USD","delivery_days":null,"delivery_date":null,"delivery_date_guaranteed":null,"est_delivery_days":null,"shipment_id":"shp_8362dc4afdeb4ce6b19bce1780299326","carrier_account_id":"ca_mtb51Ve0"},{"id":"rate_0eb85fc61e6f4715bc22418f945fa100","object":"Rate","created_at":"2015-12-14T18:29:51Z","updated_at":"2015-12-14T18:29:51Z","mode":"test","service":"Priority","carrier":"USPS","rate":"5.05","currency":"USD","retail_rate":null,"retail_currency":null,"list_rate":"5.05","list_currency":"USD","delivery_days":null,"delivery_date":null,"delivery_date_guaranteed":null,"est_delivery_days":null,"shipment_id":"shp_8362dc4afdeb4ce6b19bce1780299326","carrier_account_id":"ca_mtb51Ve0"},{"id":"rate_ba2863178f3240dda63fb9fe8ed5926a","object":"Rate","created_at":"2015-12-14T18:29:51Z","updated_at":"2015-12-14T18:29:51Z","mode":"test","service":"Express","carrier":"USPS","rate":"15.13","currency":"USD","retail_rate":null,"retail_currency":null,"list_rate":"15.13","list_currency":"USD","delivery_days":1,"delivery_date":null,"delivery_date_guaranteed":null,"est_delivery_days":1,"shipment_id":"shp_8362dc4afdeb4ce6b19bce1780299326","carrier_account_id":"ca_mtb51Ve0"}],"refund_status":null,"scan_form":null,"selected_rate":null,"tracker":null,"to_address":{"id":"adr_457aa77f0cb4437cbee19f511f1fff3c","object":"Address","created_at":"2015-12-14T18:29:47Z","updated_at":"2015-12-14T18:29:47Z","name":"John
        Doe","company":"Company","street1":"215 N 7th Ave","street2":"Northwest","city":"Manville","state":"NJ","zip":"08835","country":"US","phone":"5555550199","email":null,"mode":"test","carrier_facility":null,"residential":null,"federal_tax_id":null,"verifications":{}},"usps_zone":1,"return_address":{"id":"adr_326ff36f2d9b440685e4ee8ff18a9a9a","object":"Address","created_at":"2015-12-14T18:29:48Z","updated_at":"2015-12-14T18:29:48Z","name":null,"company":"Spree
        Test Store 3","street1":"131 S 8th Ave","street2":null,"city":"Manville","state":"NJ","zip":"08835","country":"US","phone":"2024561111","email":null,"mode":"test","carrier_facility":null,"residential":null,"federal_tax_id":null,"verifications":{}},"buyer_address":{"id":"adr_457aa77f0cb4437cbee19f511f1fff3c","object":"Address","created_at":"2015-12-14T18:29:47Z","updated_at":"2015-12-14T18:29:47Z","name":"John
        Doe","company":"Company","street1":"215 N 7th Ave","street2":"Northwest","city":"Manville","state":"NJ","zip":"08835","country":"US","phone":"5555550199","email":null,"mode":"test","carrier_facility":null,"residential":null,"federal_tax_id":null,"verifications":{}},"forms":[],"fees":[],"id":"shp_8362dc4afdeb4ce6b19bce1780299326","object":"Shipment"}'
  recorded_at: Mon, 14 Dec 2015 18:29:52 GMT
recorded_with: VCR 3.0.0
