---
http_interactions:
- request:
    method: post
    uri: https://api.easypost.com/v2/addresses
    body:
      encoding: US-ASCII
      string: address[name]=John%20Doe&address[company]=Company&address[street1]=215%20N%207th%20Ave&address[street2]=Northwest&address[city]=Manville&address[state]=NJ&address[country]=US&address[zip]=08835&address[phone]=555-555-0199
    headers:
      Authorization:
      - Bearer CvzYtuda6KRI9JjG7SAHbA
      Content-Type:
      - application/x-www-form-urlencoded
  response:
    status:
      code: 201
      message: Created
    headers:
      Location:
      - "/api/v2/addresses/adr_1941cdc8fa68456fa9ed4b49476f3c83"
      Content-Type:
      - application/json; charset=utf-8
      Etag:
      - W/"7b5730a493d1861742213c81bccb42ab"
      X-Node:
      - 04da9322f2
      - easypost
      - web4sj
      X-Backend:
      - easypost
      X-Proxied:
      - lb4sj, b89c00fb8c
    body:
      encoding: UTF-8
      string: '{"id":"adr_1941cdc8fa68456fa9ed4b49476f3c83","object":"Address","created_at":"2015-12-15T03:41:41Z","updated_at":"2015-12-15T03:41:41Z","name":"John
        Doe","company":"Company","street1":"215 N 7th Ave","street2":"Northwest","city":"Manville","state":"NJ","zip":"08835","country":"US","phone":"5555550199","email":null,"mode":"test","carrier_facility":null,"residential":null,"federal_tax_id":null,"verifications":{}}'
  recorded_at: Tue, 15 Dec 2015 03:41:41 GMT
[...]
- request:
    method: post
    uri: https://api.easypost.com/v2/parcels
    body:
      encoding: US-ASCII
      string: parcel[weight]=10.0
    headers:
      Authorization:
      - Bearer CvzYtuda6KRI9JjG7SAHbA
      Content-Type:
      - application/x-www-form-urlencoded
  response:
    status:
      code: 201
      message: Created
    headers:
      Location:
      - "/api/v2/parcels/prcl_fad8069fcb884245a6c8cdbb6f64bd7c"
      Content-Type:
      - application/json; charset=utf-8
      Etag:
      - W/"f5580f106131f47b890b1228a70b3f0c"
      X-Node:
      - 04da9322f2
      - easypost
      - web5sj
      X-Backend:
      - easypost
      X-Proxied:
      - lb4sj, b89c00fb8c
    body:
      encoding: UTF-8
      string: '{"id":"prcl_fad8069fcb884245a6c8cdbb6f64bd7c","object":"Parcel","created_at":"2015-12-15T03:41:42Z","updated_at":"2015-12-15T03:41:42Z","length":null,"width":null,"height":null,"predefined_package":null,"weight":10.0,"mode":"test"}'
  recorded_at: Tue, 15 Dec 2015 03:41:42 GMT
- request:
    method: post
    uri: https://api.easypost.com/v2/shipments
    body:
      encoding: US-ASCII
      string: shipment[to_address][id]=adr_1941cdc8fa68456fa9ed4b49476f3c83&shipment[from_address][id]=adr_9575ff4d51d2481d9663a04e80280a5d&shipment[parcel][id]=prcl_fad8069fcb884245a6c8cdbb6f64bd7c
    headers:
      Authorization:
      - Bearer CvzYtuda6KRI9JjG7SAHbA
      Content-Type:
      - application/x-www-form-urlencoded
  response:
    status:
      code: 201
      message: Created
    headers:
      Location:
      - "/account/shipments/shp_095222d9ed3d497fa7936dc42ee12ae3"
      Content-Type:
      - application/json; charset=utf-8
      Etag:
      - W/"86cff46ecfedfb6d7bf08e0119b10764"
      X-Node:
      - 04da9322f2
      - easypost
      - web6sj
      X-Backend:
      - easypost
      X-Proxied:
      - lb5sj, b89c00fb8c
    body:
      encoding: UTF-8
      string: '{"created_at":"2015-12-15T03:41:42Z","is_return":false,"messages":[],"mode":"test","options":{"currency":"USD","label_date":null},"reference":null,"status":"unknown","tracking_code":null,"updated_at":"2015-12-15T03:41:42Z","batch_id":null,"batch_status":null,"batch_message":null,"customs_info":null,"from_address":{"id":"adr_9575ff4d51d2481d9663a04e80280a5d","object":"Address","created_at":"2015-12-15T03:41:41Z","updated_at":"2015-12-15T03:41:41Z","name":null,"company":"Spree
        Test Store 5","street1":"131 S 8th Ave","street2":null,"city":"Manville","state":"NJ","zip":"08835","country":"US","phone":"2024561111","email":null,"mode":"test","carrier_facility":null,"residential":null,"federal_tax_id":null,"verifications":{}},"insurance":null,"parcel":{"id":"prcl_fad8069fcb884245a6c8cdbb6f64bd7c","object":"Parcel","created_at":"2015-12-15T03:41:42Z","updated_at":"2015-12-15T03:41:42Z","length":null,"width":null,"height":null,"predefined_package":null,"weight":10.0,"mode":"test"},"postage_label":null,"rates":[{"id":"rate_424d237d19fb4cebaafc41b3b33437c6","object":"Rate","created_at":"2015-12-15T03:41:43Z","updated_at":"2015-12-15T03:41:43Z","mode":"test","service":"Priority","carrier":"USPS","rate":"5.05","currency":"USD","retail_rate":null,"retail_currency":null,"list_rate":"5.05","list_currency":"USD","delivery_days":null,"delivery_date":null,"delivery_date_guaranteed":null,"est_delivery_days":null,"shipment_id":"shp_095222d9ed3d497fa7936dc42ee12ae3","carrier_account_id":"ca_mtb51Ve0"},{"id":"rate_1df2a777755040f4b90919276c28d80e","object":"Rate","created_at":"2015-12-15T03:41:43Z","updated_at":"2015-12-15T03:41:43Z","mode":"test","service":"ParcelSelect","carrier":"USPS","rate":"5.70","currency":"USD","retail_rate":null,"retail_currency":null,"list_rate":"5.70","list_currency":"USD","delivery_days":null,"delivery_date":null,"delivery_date_guaranteed":null,"est_delivery_days":null,"shipment_id":"shp_095222d9ed3d497fa7936dc42ee12ae3","carrier_account_id":"ca_mtb51Ve0"},{"id":"rate_537c6176307b4028a27549627ebc44d0","object":"Rate","created_at":"2015-12-15T03:41:43Z","updated_at":"2015-12-15T03:41:43Z","mode":"test","service":"First","carrier":"USPS","rate":"3.07","currency":"USD","retail_rate":null,"retail_currency":null,"list_rate":"3.07","list_currency":"USD","delivery_days":null,"delivery_date":null,"delivery_date_guaranteed":null,"est_delivery_days":null,"shipment_id":"shp_095222d9ed3d497fa7936dc42ee12ae3","carrier_account_id":"ca_mtb51Ve0"},{"id":"rate_f90cb8bf1e6748f19a89cc47661d3095","object":"Rate","created_at":"2015-12-15T03:41:43Z","updated_at":"2015-12-15T03:41:43Z","mode":"test","service":"Express","carrier":"USPS","rate":"15.13","currency":"USD","retail_rate":null,"retail_currency":null,"list_rate":"15.13","list_currency":"USD","delivery_days":1,"delivery_date":null,"delivery_date_guaranteed":null,"est_delivery_days":1,"shipment_id":"shp_095222d9ed3d497fa7936dc42ee12ae3","carrier_account_id":"ca_mtb51Ve0"}],"refund_status":null,"scan_form":null,"selected_rate":null,"tracker":null,"to_address":{"id":"adr_1941cdc8fa68456fa9ed4b49476f3c83","object":"Address","created_at":"2015-12-15T03:41:41Z","updated_at":"2015-12-15T03:41:41Z","name":"John
        Doe","company":"Company","street1":"215 N 7th Ave","street2":"Northwest","city":"Manville","state":"NJ","zip":"08835","country":"US","phone":"5555550199","email":null,"mode":"test","carrier_facility":null,"residential":null,"federal_tax_id":null,"verifications":{}},"usps_zone":1,"return_address":{"id":"adr_9575ff4d51d2481d9663a04e80280a5d","object":"Address","created_at":"2015-12-15T03:41:41Z","updated_at":"2015-12-15T03:41:41Z","name":null,"company":"Spree
        Test Store 5","street1":"131 S 8th Ave","street2":null,"city":"Manville","state":"NJ","zip":"08835","country":"US","phone":"2024561111","email":null,"mode":"test","carrier_facility":null,"residential":null,"federal_tax_id":null,"verifications":{}},"buyer_address":{"id":"adr_1941cdc8fa68456fa9ed4b49476f3c83","object":"Address","created_at":"2015-12-15T03:41:41Z","updated_at":"2015-12-15T03:41:41Z","name":"John
        Doe","company":"Company","street1":"215 N 7th Ave","street2":"Northwest","city":"Manville","state":"NJ","zip":"08835","country":"US","phone":"5555550199","email":null,"mode":"test","carrier_facility":null,"residential":null,"federal_tax_id":null,"verifications":{}},"forms":[],"fees":[],"id":"shp_095222d9ed3d497fa7936dc42ee12ae3","object":"Shipment"}'
  recorded_at: Tue, 15 Dec 2015 03:41:43 GMT
recorded_with: VCR 3.0.0
