---
http_interactions:
- request:
    method: post
    uri: https://api.easypost.com/v2/addresses
    body:
      encoding: US-ASCII
      string: address[company]=Spree%20Test%20Store%201&address[street1]=131%20S%208th%20Ave&address[city]=Manville&address[state]=NJ&address[country]=US&address[zip]=08835&address[phone]=(202)%20456-1111
    headers:
      Authorization:
      - Bearer CvzYtuda6KRI9JjG7SAHbA
      Content-Type:
      - application/x-www-form-urlencoded
  response:
    status:
      code: 201
      message: Created
    headers:
      Status:
      - 201 Created
      Location:
      - "/api/v2/addresses/adr_a107bb68b94a4de7a44fbeaad7405f09"
      Content-Type:
      - application/json; charset=utf-8
      Etag:
      - W/"8be0adc15a94c0ccb9b58acf8a1ec906"
      X-Node:
      - web15sj, 9de5dd942b
      X-Backend:
      - easypost
      X-Proxied:
      - lb5sj, b89c00fb8c
    body:
      encoding: UTF-8
      string: '{"id":"adr_a107bb68b94a4de7a44fbeaad7405f09","object":"Address","created_at":"2015-12-14T17:48:23Z","updated_at":"2015-12-14T17:48:23Z","name":null,"company":"Spree
        Test Store 1","street1":"131 S 8th Ave","street2":null,"city":"Manville","state":"NJ","zip":"08835","country":"US","phone":"2024561111","email":null,"mode":"test","carrier_facility":null,"residential":null,"federal_tax_id":null,"verifications":{}}'
  recorded_at: Mon, 14 Dec 2015 17:48:23 GMT
recorded_with: VCR 3.0.0
