---
http_interactions:
- request:
    method: post
    uri: https://api.easypost.com/v2/addresses
    body:
      encoding: US-ASCII
      string: address[name]=John%20Doe&address[company]=Company&address[street1]=215%20N%207th%20Ave&address[street2]=Northwest&address[city]=Manville&address[state]=NJ&address[country]=US&address[zip]=08835&address[phone]=555-555-0199
    headers:
      Authorization:
      - Bearer CvzYtuda6KRI9JjG7SAHbA
      Content-Type:
      - application/x-www-form-urlencoded
  response:
    status:
      code: 201
      message: Created
    headers:
      Location:
      - "/api/v2/addresses/adr_6ab3d35aedef48199407204960582a9d"
      Content-Type:
      - application/json; charset=utf-8
      Etag:
      - W/"306bf168fd9b52c37a07c009bff860e0"
      X-Node:
      - 317b571a6b
      - easypost
      - web11sj
      X-Backend:
      - easypost
      X-Proxied:
      - lb5sj, 0ccc190e51
    body:
      encoding: UTF-8
      string: '{"id":"adr_6ab3d35aedef48199407204960582a9d","object":"Address","created_at":"2015-12-15T22:38:44Z","updated_at":"2015-12-15T22:38:44Z","name":"John
        Doe","company":"Company","street1":"215 N 7th Ave","street2":"Northwest","city":"Manville","state":"NJ","zip":"08835","country":"US","phone":"5555550199","email":null,"mode":"test","carrier_facility":null,"residential":null,"federal_tax_id":null,"verifications":{}}'
  recorded_at: Tue, 15 Dec 2015 22:38:44 GMT
[...]
- request:
    method: post
    uri: https://api.easypost.com/v2/parcels
    body:
      encoding: US-ASCII
      string: parcel[weight]=10.0
    headers:
      Authorization:
      - Bearer CvzYtuda6KRI9JjG7SAHbA
      Content-Type:
      - application/x-www-form-urlencoded
  response:
    status:
      code: 201
      message: Created
    headers:
      Location:
      - "/api/v2/parcels/prcl_040569e10f884f309fa2a440ea30efd0"
      Content-Type:
      - application/json; charset=utf-8
      Etag:
      - W/"63f2103148b526db3c7a0e399f382cfb"
      X-Node:
      - 317b571a6b
      - easypost
      - web15sj
      X-Backend:
      - easypost
      X-Proxied:
      - lb5sj, 0ccc190e51
    body:
      encoding: UTF-8
      string: '{"id":"prcl_040569e10f884f309fa2a440ea30efd0","object":"Parcel","created_at":"2015-12-15T22:38:47Z","updated_at":"2015-12-15T22:38:47Z","length":null,"width":null,"height":null,"predefined_package":null,"weight":10.0,"mode":"test"}'
  recorded_at: Tue, 15 Dec 2015 22:38:47 GMT
- request:
    method: post
    uri: https://api.easypost.com/v2/shipments
    body:
      encoding: US-ASCII
      string: shipment[to_address][id]=adr_6ab3d35aedef48199407204960582a9d&shipment[from_address][id]=adr_48a5d5169ebc4aa595f123d98ab1b439&shipment[parcel][id]=prcl_040569e10f884f309fa2a440ea30efd0
    headers:
      Authorization:
      - Bearer CvzYtuda6KRI9JjG7SAHbA
      Content-Type:
      - application/x-www-form-urlencoded
  response:
    status:
      code: 201
      message: Created
    headers:
      Location:
      - "/account/shipments/shp_169d38c649e44042b7d47a81e86beaef"
      Content-Type:
      - application/json; charset=utf-8
      Etag:
      - W/"57dabafa12c0a940f0ef7a6030a0b232"
      X-Node:
      - 317b571a6b
      - easypost
      - web14sj
      X-Backend:
      - easypost
      X-Proxied:
      - lb4sj, 0ccc190e51
    body:
      encoding: UTF-8
      string: '{"created_at":"2015-12-15T22:38:48Z","is_return":false,"messages":[],"mode":"test","options":{"currency":"USD","label_date":null},"reference":null,"status":"unknown","tracking_code":null,"updated_at":"2015-12-15T22:38:48Z","batch_id":null,"batch_status":null,"batch_message":null,"customs_info":null,"from_address":{"id":"adr_48a5d5169ebc4aa595f123d98ab1b439","object":"Address","created_at":"2015-12-15T22:38:45Z","updated_at":"2015-12-15T22:38:45Z","name":null,"company":"Spree
        Test Store 35","street1":"131 S 8th Ave","street2":null,"city":"Manville","state":"NJ","zip":"08835","country":"US","phone":"2024561111","email":null,"mode":"test","carrier_facility":null,"residential":null,"federal_tax_id":null,"verifications":{}},"insurance":null,"parcel":{"id":"prcl_040569e10f884f309fa2a440ea30efd0","object":"Parcel","created_at":"2015-12-15T22:38:47Z","updated_at":"2015-12-15T22:38:47Z","length":null,"width":null,"height":null,"predefined_package":null,"weight":10.0,"mode":"test"},"postage_label":null,"rates":[{"id":"rate_0ae3531071f04d90b228a818cf0d7437","object":"Rate","created_at":"2015-12-15T22:38:49Z","updated_at":"2015-12-15T22:38:49Z","mode":"test","service":"Priority","carrier":"USPS","rate":"5.05","currency":"USD","retail_rate":null,"retail_currency":null,"list_rate":"5.05","list_currency":"USD","delivery_days":null,"delivery_date":null,"delivery_date_guaranteed":null,"est_delivery_days":null,"shipment_id":"shp_169d38c649e44042b7d47a81e86beaef","carrier_account_id":"ca_mtb51Ve0"},{"id":"rate_e8a459fa4ef14764976d025d659237aa","object":"Rate","created_at":"2015-12-15T22:38:49Z","updated_at":"2015-12-15T22:38:49Z","mode":"test","service":"ParcelSelect","carrier":"USPS","rate":"5.70","currency":"USD","retail_rate":null,"retail_currency":null,"list_rate":"5.70","list_currency":"USD","delivery_days":null,"delivery_date":null,"delivery_date_guaranteed":null,"est_delivery_days":null,"shipment_id":"shp_169d38c649e44042b7d47a81e86beaef","carrier_account_id":"ca_mtb51Ve0"},{"id":"rate_057042d0dd014eedac1c77e13d32c49e","object":"Rate","created_at":"2015-12-15T22:38:49Z","updated_at":"2015-12-15T22:38:49Z","mode":"test","service":"First","carrier":"USPS","rate":"3.07","currency":"USD","retail_rate":null,"retail_currency":null,"list_rate":"3.07","list_currency":"USD","delivery_days":null,"delivery_date":null,"delivery_date_guaranteed":null,"est_delivery_days":null,"shipment_id":"shp_169d38c649e44042b7d47a81e86beaef","carrier_account_id":"ca_mtb51Ve0"},{"id":"rate_158f249d12a841b8b82dcae31ec96738","object":"Rate","created_at":"2015-12-15T22:38:49Z","updated_at":"2015-12-15T22:38:49Z","mode":"test","service":"Express","carrier":"USPS","rate":"15.13","currency":"USD","retail_rate":null,"retail_currency":null,"list_rate":"15.13","list_currency":"USD","delivery_days":0,"delivery_date":null,"delivery_date_guaranteed":null,"est_delivery_days":0,"shipment_id":"shp_169d38c649e44042b7d47a81e86beaef","carrier_account_id":"ca_mtb51Ve0"}],"refund_status":null,"scan_form":null,"selected_rate":null,"tracker":null,"to_address":{"id":"adr_6ab3d35aedef48199407204960582a9d","object":"Address","created_at":"2015-12-15T22:38:44Z","updated_at":"2015-12-15T22:38:44Z","name":"John
        Doe","company":"Company","street1":"215 N 7th Ave","street2":"Northwest","city":"Manville","state":"NJ","zip":"08835","country":"US","phone":"5555550199","email":null,"mode":"test","carrier_facility":null,"residential":null,"federal_tax_id":null,"verifications":{}},"usps_zone":1,"return_address":{"id":"adr_48a5d5169ebc4aa595f123d98ab1b439","object":"Address","created_at":"2015-12-15T22:38:45Z","updated_at":"2015-12-15T22:38:45Z","name":null,"company":"Spree
        Test Store 35","street1":"131 S 8th Ave","street2":null,"city":"Manville","state":"NJ","zip":"08835","country":"US","phone":"2024561111","email":null,"mode":"test","carrier_facility":null,"residential":null,"federal_tax_id":null,"verifications":{}},"buyer_address":{"id":"adr_6ab3d35aedef48199407204960582a9d","object":"Address","created_at":"2015-12-15T22:38:44Z","updated_at":"2015-12-15T22:38:44Z","name":"John
        Doe","company":"Company","street1":"215 N 7th Ave","street2":"Northwest","city":"Manville","state":"NJ","zip":"08835","country":"US","phone":"5555550199","email":null,"mode":"test","carrier_facility":null,"residential":null,"federal_tax_id":null,"verifications":{}},"forms":[],"fees":[],"id":"shp_169d38c649e44042b7d47a81e86beaef","object":"Shipment"}'
  recorded_at: Tue, 15 Dec 2015 22:38:49 GMT
[...]
- request:
    method: post
    uri: https://api.easypost.com/v2/shipments/shp_9498ce012acf444283e2c5e3fe78103b/buy
    body:
      encoding: US-ASCII
      string: rate[id]=rate_2d5c355de66f48c3be516b3666741e8c
    headers:
      Authorization:
      - Bearer CvzYtuda6KRI9JjG7SAHbA
      Content-Type:
      - application/x-www-form-urlencoded
  response:
    status:
      code: 200
      message: OK
    headers:
      Content-Type:
      - application/json; charset=utf-8
      Etag:
      - W/"cc56fb26d486a8336c08731a91b7beac"
      X-Node:
      - 317b571a6b
      - easypost
      - web6sj
      X-Backend:
      - easypost
      X-Proxied:
      - lb5sj, 0ccc190e51
    body:
      encoding: UTF-8
      string: '{"postage_label":{"id":"pl_c7c470a3da7049809910d1dbc321420d","object":"PostageLabel","created_at":"2015-12-15T22:39:00Z","updated_at":"2015-12-15T22:39:00Z","date_advance":0,"integrated_form":"none","label_date":"2015-12-15T22:38:57Z","label_resolution":300,"label_size":"4x6","label_type":"default","label_url":"http://assets.geteasypost.com/postage_labels/labels/20151215/83e003f3992f4cf6af019839fab6152a.png","label_file_type":"image/png","label_pdf_url":null,"label_epl2_url":null,"label_zpl_url":null},"tracking_code":"9499907123456123456781","tracker":{"id":"trk_4d2d1c9b5b2a4c00ad12c33186ee5c8b","object":"Tracker","mode":"test","tracking_code":"9499907123456123456781","status":"unknown","created_at":"2015-12-15T22:39:00Z","updated_at":"2015-12-15T22:39:00Z","signed_by":null,"weight":null,"est_delivery_date":null,"shipment_id":"shp_9498ce012acf444283e2c5e3fe78103b","carrier":"USPS","tracking_details":[],"fees":[],"carrier_detail":null},"insurance":null,"selected_rate":{"id":"rate_2d5c355de66f48c3be516b3666741e8c","object":"Rate","created_at":"2015-12-15T22:38:57Z","updated_at":"2015-12-15T22:38:57Z","mode":"test","service":"ParcelSelect","carrier":"USPS","rate":"5.70","currency":"USD","retail_rate":null,"retail_currency":null,"list_rate":"5.70","list_currency":"USD","delivery_days":null,"delivery_date":null,"delivery_date_guaranteed":null,"est_delivery_days":null,"shipment_id":"shp_9498ce012acf444283e2c5e3fe78103b","carrier_account_id":"ca_mtb51Ve0"},"forms":[],"messages":[],"fees":[{"object":"Fee","type":"LabelFee","amount":"0.05000","charged":false,"refunded":false},{"object":"Fee","type":"PostageFee","amount":"5.70000","charged":false,"refunded":false}]}'
  recorded_at: Tue, 15 Dec 2015 22:39:00 GMT
recorded_with: VCR 3.0.0
