---
http_interactions:
- request:
    method: post
    uri: https://api.easypost.com/v2/addresses
    body:
      encoding: US-ASCII
      string: address[name]=John%20Doe&address[company]=Company&address[street1]=215%20N%207th%20Ave&address[street2]=Northwest&address[city]=Manville&address[state]=NJ&address[country]=US&address[zip]=08835&address[phone]=555-555-0199
    headers:
      Authorization:
      - Bearer CvzYtuda6KRI9JjG7SAHbA
      Content-Type:
      - application/x-www-form-urlencoded
  response:
    status:
      code: 201
      message: Created
    headers:
      Location:
      - "/api/v2/addresses/adr_17cf1f2bb5e64dea964356087e0c0be1"
      Content-Type:
      - application/json; charset=utf-8
      Etag:
      - W/"c9c5f9bb946c097e313e7c0de6163c2e"
      X-Node:
      - 80c1ed5cd5
      - easypost
      - web4sj
      X-Backend:
      - easypost
      X-Proxied:
      - lb4sj, 0ccc190e51
    body:
      encoding: UTF-8
      string: '{"id":"adr_17cf1f2bb5e64dea964356087e0c0be1","object":"Address","created_at":"2015-12-17T17:14:43Z","updated_at":"2015-12-17T17:14:43Z","name":"John
        Doe","company":"Company","street1":"215 N 7th Ave","street2":"Northwest","city":"Manville","state":"NJ","zip":"08835","country":"US","phone":"5555550199","email":null,"mode":"test","carrier_facility":null,"residential":null,"federal_tax_id":null,"verifications":{}}'
  recorded_at: Thu, 17 Dec 2015 17:14:43 GMT
[...]
- request:
    method: post
    uri: https://api.easypost.com/v2/parcels
    body:
      encoding: US-ASCII
      string: parcel[weight]=10.0
    headers:
      Authorization:
      - Bearer CvzYtuda6KRI9JjG7SAHbA
      Content-Type:
      - application/x-www-form-urlencoded
  response:
    status:
      code: 201
      message: Created
    headers:
      Location:
      - "/api/v2/parcels/prcl_ccda496ef6f44fe2a97d0551256d7874"
      Content-Type:
      - application/json; charset=utf-8
      Etag:
      - W/"a8b9f601ae853344b9538b0a211abb54"
      X-Node:
      - 80c1ed5cd5
      - easypost
      - web14sj
      X-Backend:
      - easypost
      X-Proxied:
      - lb4sj, 0ccc190e51
    body:
      encoding: UTF-8
      string: '{"id":"prcl_ccda496ef6f44fe2a97d0551256d7874","object":"Parcel","created_at":"2015-12-17T17:14:45Z","updated_at":"2015-12-17T17:14:45Z","length":null,"width":null,"height":null,"predefined_package":null,"weight":10.0,"mode":"test"}'
  recorded_at: Thu, 17 Dec 2015 17:14:45 GMT
- request:
    method: post
    uri: https://api.easypost.com/v2/shipments
    body:
      encoding: US-ASCII
      string: shipment[to_address][id]=adr_17cf1f2bb5e64dea964356087e0c0be1&shipment[from_address][id]=adr_646b048355c74704a054b16b857618f7&shipment[parcel][id]=prcl_ccda496ef6f44fe2a97d0551256d7874
    headers:
      Authorization:
      - Bearer CvzYtuda6KRI9JjG7SAHbA
      Content-Type:
      - application/x-www-form-urlencoded
  response:
    status:
      code: 201
      message: Created
    headers:
      Location:
      - "/account/shipments/shp_61811b81627d49dc87a8eaf1a5c419fe"
      Content-Type:
      - application/json; charset=utf-8
      Etag:
      - W/"7cd4afe6bf9d418339964e8b6d83c04b"
      X-Node:
      - 80c1ed5cd5
      - easypost
      - web14sj
      X-Backend:
      - easypost
      X-Proxied:
      - lb5sj, 0ccc190e51
    body:
      encoding: UTF-8
      string: '{"created_at":"2015-12-17T17:14:48Z","is_return":false,"messages":[],"mode":"test","options":{"currency":"USD","label_date":null},"reference":null,"status":"unknown","tracking_code":null,"updated_at":"2015-12-17T17:14:48Z","batch_id":null,"batch_status":null,"batch_message":null,"customs_info":null,"from_address":{"id":"adr_646b048355c74704a054b16b857618f7","object":"Address","created_at":"2015-12-17T17:14:44Z","updated_at":"2015-12-17T17:14:44Z","name":null,"company":"Spree
        Test Store 37","street1":"131 S 8th Ave","street2":null,"city":"Manville","state":"NJ","zip":"08835","country":"US","phone":"2024561111","email":null,"mode":"test","carrier_facility":null,"residential":null,"federal_tax_id":null,"verifications":{}},"insurance":null,"parcel":{"id":"prcl_ccda496ef6f44fe2a97d0551256d7874","object":"Parcel","created_at":"2015-12-17T17:14:45Z","updated_at":"2015-12-17T17:14:45Z","length":null,"width":null,"height":null,"predefined_package":null,"weight":10.0,"mode":"test"},"postage_label":null,"rates":[{"id":"rate_14d71ec4fefa4af5907d619806b08bb6","object":"Rate","created_at":"2015-12-17T17:14:49Z","updated_at":"2015-12-17T17:14:49Z","mode":"test","service":"ParcelSelect","carrier":"USPS","rate":"5.70","currency":"USD","retail_rate":null,"retail_currency":null,"list_rate":"5.70","list_currency":"USD","delivery_days":null,"delivery_date":null,"delivery_date_guaranteed":null,"est_delivery_days":null,"shipment_id":"shp_61811b81627d49dc87a8eaf1a5c419fe","carrier_account_id":"ca_mtb51Ve0"},{"id":"rate_275f612528fd411baef877d41793f7b1","object":"Rate","created_at":"2015-12-17T17:14:49Z","updated_at":"2015-12-17T17:14:49Z","mode":"test","service":"Priority","carrier":"USPS","rate":"5.05","currency":"USD","retail_rate":null,"retail_currency":null,"list_rate":"5.05","list_currency":"USD","delivery_days":null,"delivery_date":null,"delivery_date_guaranteed":null,"est_delivery_days":null,"shipment_id":"shp_61811b81627d49dc87a8eaf1a5c419fe","carrier_account_id":"ca_mtb51Ve0"},{"id":"rate_abcc0dbea0fb4c79b58f8249c02e7e44","object":"Rate","created_at":"2015-12-17T17:14:49Z","updated_at":"2015-12-17T17:14:49Z","mode":"test","service":"First","carrier":"USPS","rate":"3.07","currency":"USD","retail_rate":null,"retail_currency":null,"list_rate":"3.07","list_currency":"USD","delivery_days":null,"delivery_date":null,"delivery_date_guaranteed":null,"est_delivery_days":null,"shipment_id":"shp_61811b81627d49dc87a8eaf1a5c419fe","carrier_account_id":"ca_mtb51Ve0"},{"id":"rate_4e4f53f04f6f4951827f1f5d6ba302b3","object":"Rate","created_at":"2015-12-17T17:14:49Z","updated_at":"2015-12-17T17:14:49Z","mode":"test","service":"Express","carrier":"USPS","rate":"15.13","currency":"USD","retail_rate":null,"retail_currency":null,"list_rate":"15.13","list_currency":"USD","delivery_days":1,"delivery_date":null,"delivery_date_guaranteed":null,"est_delivery_days":1,"shipment_id":"shp_61811b81627d49dc87a8eaf1a5c419fe","carrier_account_id":"ca_mtb51Ve0"}],"refund_status":null,"scan_form":null,"selected_rate":null,"tracker":null,"to_address":{"id":"adr_17cf1f2bb5e64dea964356087e0c0be1","object":"Address","created_at":"2015-12-17T17:14:43Z","updated_at":"2015-12-17T17:14:43Z","name":"John
        Doe","company":"Company","street1":"215 N 7th Ave","street2":"Northwest","city":"Manville","state":"NJ","zip":"08835","country":"US","phone":"5555550199","email":null,"mode":"test","carrier_facility":null,"residential":null,"federal_tax_id":null,"verifications":{}},"usps_zone":1,"return_address":{"id":"adr_646b048355c74704a054b16b857618f7","object":"Address","created_at":"2015-12-17T17:14:44Z","updated_at":"2015-12-17T17:14:44Z","name":null,"company":"Spree
        Test Store 37","street1":"131 S 8th Ave","street2":null,"city":"Manville","state":"NJ","zip":"08835","country":"US","phone":"2024561111","email":null,"mode":"test","carrier_facility":null,"residential":null,"federal_tax_id":null,"verifications":{}},"buyer_address":{"id":"adr_17cf1f2bb5e64dea964356087e0c0be1","object":"Address","created_at":"2015-12-17T17:14:43Z","updated_at":"2015-12-17T17:14:43Z","name":"John
        Doe","company":"Company","street1":"215 N 7th Ave","street2":"Northwest","city":"Manville","state":"NJ","zip":"08835","country":"US","phone":"5555550199","email":null,"mode":"test","carrier_facility":null,"residential":null,"federal_tax_id":null,"verifications":{}},"forms":[],"fees":[],"id":"shp_61811b81627d49dc87a8eaf1a5c419fe","object":"Shipment"}'
  recorded_at: Thu, 17 Dec 2015 17:14:49 GMT
[...]
- request:
    method: post
    uri: https://api.easypost.com/v2/shipments/shp_92fd89025e634cd7a04fd2f1ce6118bd/buy
    body:
      encoding: US-ASCII
      string: rate[id]=rate_f30360dd29544a5bbc367f8934228314
    headers:
      Authorization:
      - Bearer CvzYtuda6KRI9JjG7SAHbA
      Content-Type:
      - application/x-www-form-urlencoded
  response:
    status:
      code: 200
      message: OK
    headers:
      Content-Type:
      - application/json; charset=utf-8
      Etag:
      - W/"6a3d65fb1addd09509e63ded283e1290"
      X-Node:
      - 80c1ed5cd5
      - easypost
      - web14sj
      X-Backend:
      - easypost
      X-Proxied:
      - lb4sj, 0ccc190e51
    body:
      encoding: UTF-8
      string: '{"postage_label":{"id":"pl_f719fc45f5384871a9b7684066ae0f15","object":"PostageLabel","created_at":"2015-12-17T17:14:53Z","updated_at":"2015-12-17T17:14:53Z","date_advance":0,"integrated_form":"none","label_date":"2015-12-17T17:14:51Z","label_resolution":300,"label_size":"4x6","label_type":"default","label_url":"http://assets.geteasypost.com/postage_labels/labels/20151217/13fd83ef5cdb4a8f8e77e02bf086c8d5.png","label_file_type":"image/png","label_pdf_url":null,"label_epl2_url":null,"label_zpl_url":null},"tracking_code":"9499907123456123456781","tracker":{"id":"trk_827640783b7c4b2a8937baf97c5cb744","object":"Tracker","mode":"test","tracking_code":"9499907123456123456781","status":"unknown","created_at":"2015-12-17T17:14:54Z","updated_at":"2015-12-17T17:14:54Z","signed_by":null,"weight":null,"est_delivery_date":null,"shipment_id":"shp_92fd89025e634cd7a04fd2f1ce6118bd","carrier":"USPS","tracking_details":[],"fees":[],"carrier_detail":null},"insurance":null,"selected_rate":{"id":"rate_f30360dd29544a5bbc367f8934228314","object":"Rate","created_at":"2015-12-17T17:14:52Z","updated_at":"2015-12-17T17:14:52Z","mode":"test","service":"First","carrier":"USPS","rate":"3.07","currency":"USD","retail_rate":null,"retail_currency":null,"list_rate":"3.07","list_currency":"USD","delivery_days":null,"delivery_date":null,"delivery_date_guaranteed":null,"est_delivery_days":null,"shipment_id":"shp_92fd89025e634cd7a04fd2f1ce6118bd","carrier_account_id":"ca_mtb51Ve0"},"forms":[],"messages":[],"fees":[{"object":"Fee","type":"LabelFee","amount":"0.05000","charged":false,"refunded":false},{"object":"Fee","type":"PostageFee","amount":"3.07000","charged":false,"refunded":false}]}'
  recorded_at: Thu, 17 Dec 2015 17:14:54 GMT
recorded_with: VCR 3.0.0
