---
http_interactions:
- request:
    method: post
    uri: https://api.easypost.com/v2/parcels
    body:
      encoding: US-ASCII
      string: parcel[weight]=10.0
    headers:
      Authorization:
      - Bearer CvzYtuda6KRI9JjG7SAHbA
      Content-Type:
      - application/x-www-form-urlencoded
  response:
    status:
      code: 201
      message: Created
    headers:
      Status:
      - 201 Created
      Location:
      - "/api/v2/parcels/prcl_7fad231dcaa74107b45c37b6d9422138"
      Content-Type:
      - application/json; charset=utf-8
      Etag:
      - W/"59f62fae9a9948292ed7e333fcb2cd89"
      X-Node:
      - web6sj, 9de5dd942b
      X-Backend:
      - easypost
      X-Proxied:
      - lb5sj, b89c00fb8c
    body:
      encoding: UTF-8
      string: '{"id":"prcl_7fad231dcaa74107b45c37b6d9422138","object":"Parcel","created_at":"2015-12-14T18:29:41Z","updated_at":"2015-12-14T18:29:41Z","length":null,"width":null,"height":null,"predefined_package":null,"weight":10.0,"mode":"test"}'
  recorded_at: Mon, 14 Dec 2015 18:29:41 GMT
recorded_with: VCR 3.0.0
