---
http_interactions:
- request:
    method: post
    uri: https://api.easypost.com/v2/addresses
    body:
      encoding: US-ASCII
      string: address[street1]=215%20N%207th%20Ave&address[street2]=Northwest&address[city]=Manville&address[zip]=08835&address[phone]=555-555-0199&address[company]=Company&address[name]=John%20Doe&address[state]=NJ&address[country]=US
    headers:
      Authorization:
      - Bearer CvzYtuda6KRI9JjG7SAHbA
      Content-Type:
      - application/x-www-form-urlencoded
  response:
    status:
      code: 201
      message: Created
    headers:
      Location:
      - "/api/v2/addresses/adr_ae00ecc653ba422989cd070ee4accc54"
      Content-Type:
      - application/json; charset=utf-8
      Etag:
      - W/"709713df47f339c4d4a88d64f763ae67"
      X-Node:
      - easypost
      - ef92c5b480
      - web15sj
      X-Backend:
      - easypost
      X-Proxied:
      - lb5sj, b89c00fb8c
    body:
      encoding: UTF-8
      string: '{"id":"adr_ae00ecc653ba422989cd070ee4accc54","object":"Address","created_at":"2015-12-15T18:29:21Z","updated_at":"2015-12-15T18:29:21Z","name":"John
        Doe","company":"Company","street1":"215 N 7th Ave","street2":"Northwest","city":"Manville","state":"NJ","zip":"08835","country":"US","phone":"5555550199","email":null,"mode":"test","carrier_facility":null,"residential":null,"federal_tax_id":null,"verifications":{}}'
  recorded_at: Tue, 15 Dec 2015 18:29:22 GMT
[...]
- request:
    method: post
    uri: https://api.easypost.com/v2/parcels
    body:
      encoding: US-ASCII
      string: parcel[weight]=10.0
    headers:
      Authorization:
      - Bearer CvzYtuda6KRI9JjG7SAHbA
      Content-Type:
      - application/x-www-form-urlencoded
  response:
    status:
      code: 201
      message: Created
    headers:
      Location:
      - "/api/v2/parcels/prcl_d710f6fc1e9e4099adcf3ebc1cba2060"
      Content-Type:
      - application/json; charset=utf-8
      Etag:
      - W/"b1efb26669a9c277c25b902b84f71a05"
      X-Node:
      - easypost
      - ef92c5b480
      - web3sj
      X-Backend:
      - easypost
      X-Proxied:
      - lb5sj, b89c00fb8c
    body:
      encoding: UTF-8
      string: '{"id":"prcl_d710f6fc1e9e4099adcf3ebc1cba2060","object":"Parcel","created_at":"2015-12-15T18:29:28Z","updated_at":"2015-12-15T18:29:28Z","length":null,"width":null,"height":null,"predefined_package":null,"weight":10.0,"mode":"test"}'
  recorded_at: Tue, 15 Dec 2015 18:29:28 GMT
- request:
    method: post
    uri: https://api.easypost.com/v2/shipments
    body:
      encoding: US-ASCII
      string: shipment[to_address][id]=adr_ae00ecc653ba422989cd070ee4accc54&shipment[from_address][id]=adr_d5928c3a596842f8bda34cbf0a08fa44&shipment[parcel][id]=prcl_d710f6fc1e9e4099adcf3ebc1cba2060
    headers:
      Authorization:
      - Bearer CvzYtuda6KRI9JjG7SAHbA
      Content-Type:
      - application/x-www-form-urlencoded
  response:
    status:
      code: 201
      message: Created
    headers:
      Location:
      - "/account/shipments/shp_861b5326b4984a49b8e40d14bc766040"
      Content-Type:
      - application/json; charset=utf-8
      Etag:
      - W/"b9ac538a369b0adc841077edc5934a44"
      X-Node:
      - easypost
      - ef92c5b480
      - web6sj
      X-Backend:
      - easypost
      X-Proxied:
      - lb4sj, b89c00fb8c
    body:
      encoding: UTF-8
      string: '{"created_at":"2015-12-15T18:29:33Z","is_return":false,"messages":[],"mode":"test","options":{"currency":"USD","label_date":null},"reference":null,"status":"unknown","tracking_code":null,"updated_at":"2015-12-15T18:29:33Z","batch_id":null,"batch_status":null,"batch_message":null,"customs_info":null,"from_address":{"id":"adr_d5928c3a596842f8bda34cbf0a08fa44","object":"Address","created_at":"2015-12-15T18:29:23Z","updated_at":"2015-12-15T18:29:23Z","name":null,"company":"Spree
        Test Store 1","street1":"131 S 8th Ave","street2":null,"city":"Manville","state":"NJ","zip":"08835","country":"US","phone":"2024561111","email":null,"mode":"test","carrier_facility":null,"residential":null,"federal_tax_id":null,"verifications":{}},"insurance":null,"parcel":{"id":"prcl_d710f6fc1e9e4099adcf3ebc1cba2060","object":"Parcel","created_at":"2015-12-15T18:29:28Z","updated_at":"2015-12-15T18:29:28Z","length":null,"width":null,"height":null,"predefined_package":null,"weight":10.0,"mode":"test"},"postage_label":null,"rates":[{"id":"rate_13de5fdfeaeb4a1db7b460c4c1891669","object":"Rate","created_at":"2015-12-15T18:29:34Z","updated_at":"2015-12-15T18:29:34Z","mode":"test","service":"ParcelSelect","carrier":"USPS","rate":"5.70","currency":"USD","retail_rate":null,"retail_currency":null,"list_rate":"5.70","list_currency":"USD","delivery_days":null,"delivery_date":null,"delivery_date_guaranteed":null,"est_delivery_days":null,"shipment_id":"shp_861b5326b4984a49b8e40d14bc766040","carrier_account_id":"ca_mtb51Ve0"},{"id":"rate_513b589dafb549398c7d0d9d57f154f0","object":"Rate","created_at":"2015-12-15T18:29:34Z","updated_at":"2015-12-15T18:29:34Z","mode":"test","service":"First","carrier":"USPS","rate":"3.07","currency":"USD","retail_rate":null,"retail_currency":null,"list_rate":"3.07","list_currency":"USD","delivery_days":null,"delivery_date":null,"delivery_date_guaranteed":null,"est_delivery_days":null,"shipment_id":"shp_861b5326b4984a49b8e40d14bc766040","carrier_account_id":"ca_mtb51Ve0"},{"id":"rate_d096fccdeb264d48961ca823eefcaf0e","object":"Rate","created_at":"2015-12-15T18:29:34Z","updated_at":"2015-12-15T18:29:34Z","mode":"test","service":"Priority","carrier":"USPS","rate":"5.05","currency":"USD","retail_rate":null,"retail_currency":null,"list_rate":"5.05","list_currency":"USD","delivery_days":null,"delivery_date":null,"delivery_date_guaranteed":null,"est_delivery_days":null,"shipment_id":"shp_861b5326b4984a49b8e40d14bc766040","carrier_account_id":"ca_mtb51Ve0"},{"id":"rate_075019be19f44f72bf405052423490d9","object":"Rate","created_at":"2015-12-15T18:29:34Z","updated_at":"2015-12-15T18:29:34Z","mode":"test","service":"Express","carrier":"USPS","rate":"15.13","currency":"USD","retail_rate":null,"retail_currency":null,"list_rate":"15.13","list_currency":"USD","delivery_days":1,"delivery_date":null,"delivery_date_guaranteed":null,"est_delivery_days":1,"shipment_id":"shp_861b5326b4984a49b8e40d14bc766040","carrier_account_id":"ca_mtb51Ve0"}],"refund_status":null,"scan_form":null,"selected_rate":null,"tracker":null,"to_address":{"id":"adr_ae00ecc653ba422989cd070ee4accc54","object":"Address","created_at":"2015-12-15T18:29:21Z","updated_at":"2015-12-15T18:29:21Z","name":"John
        Doe","company":"Company","street1":"215 N 7th Ave","street2":"Northwest","city":"Manville","state":"NJ","zip":"08835","country":"US","phone":"5555550199","email":null,"mode":"test","carrier_facility":null,"residential":null,"federal_tax_id":null,"verifications":{}},"usps_zone":1,"return_address":{"id":"adr_d5928c3a596842f8bda34cbf0a08fa44","object":"Address","created_at":"2015-12-15T18:29:23Z","updated_at":"2015-12-15T18:29:23Z","name":null,"company":"Spree
        Test Store 1","street1":"131 S 8th Ave","street2":null,"city":"Manville","state":"NJ","zip":"08835","country":"US","phone":"2024561111","email":null,"mode":"test","carrier_facility":null,"residential":null,"federal_tax_id":null,"verifications":{}},"buyer_address":{"id":"adr_ae00ecc653ba422989cd070ee4accc54","object":"Address","created_at":"2015-12-15T18:29:21Z","updated_at":"2015-12-15T18:29:21Z","name":"John
        Doe","company":"Company","street1":"215 N 7th Ave","street2":"Northwest","city":"Manville","state":"NJ","zip":"08835","country":"US","phone":"5555550199","email":null,"mode":"test","carrier_facility":null,"residential":null,"federal_tax_id":null,"verifications":{}},"forms":[],"fees":[],"id":"shp_861b5326b4984a49b8e40d14bc766040","object":"Shipment"}'
  recorded_at: Tue, 15 Dec 2015 18:29:35 GMT
[...]
