---
http_interactions:
- request:
    method: post
    uri: https://api.easypost.com/v2/addresses
    body:
      encoding: US-ASCII
      string: address[name]=John%20Doe&address[company]=Company&address[street1]=215%20N%207th%20Ave&address[street2]=Northwest&address[city]=Manville&address[state]=NJ&address[country]=US&address[zip]=08835&address[phone]=555-555-0199
    headers:
      Authorization:
      - Bearer CvzYtuda6KRI9JjG7SAHbA
      Content-Type:
      - application/x-www-form-urlencoded
  response:
    status:
      code: 201
      message: Created
    headers:
      Status:
      - 201 Created
      Location:
      - "/api/v2/addresses/adr_cbc16513007149d3a32df28690178f89"
      Content-Type:
      - application/json; charset=utf-8
      Etag:
      - W/"6874c350f03412b7fe75c61ba7fec446"
      X-Node:
      - web4sj, 9de5dd942b
      X-Backend:
      - easypost
      X-Proxied:
      - lb4sj, b89c00fb8c
    body:
      encoding: UTF-8
      string: '{"id":"adr_cbc16513007149d3a32df28690178f89","object":"Address","created_at":"2015-12-14T17:48:22Z","updated_at":"2015-12-14T17:48:22Z","name":"John
        Doe","company":"Company","street1":"215 N 7th Ave","street2":"Northwest","city":"Manville","state":"NJ","zip":"08835","country":"US","phone":"5555550199","email":null,"mode":"test","carrier_facility":null,"residential":null,"federal_tax_id":null,"verifications":{}}'
  recorded_at: Mon, 14 Dec 2015 17:48:22 GMT
recorded_with: VCR 3.0.0
