---
http_interactions:
- request:
    method: post
    uri: https://api.easypost.com/v2/addresses
    body:
      encoding: US-ASCII
      string: address[street1]=215%20N%207th%20Ave&address[street2]=Northwest&address[city]=Manville&address[zip]=08835&address[phone]=555-555-0199&address[company]=Company&address[name]=John%20Doe&address[state]=NJ&address[country]=US
    headers:
      Authorization:
      - Bearer CvzYtuda6KRI9JjG7SAHbA
      Content-Type:
      - application/x-www-form-urlencoded
  response:
    status:
      code: 201
      message: Created
    headers:
      Location:
      - "/api/v2/addresses/adr_6ce7d8eaf58d4a92810fc64dec2b115a"
      Content-Type:
      - application/json; charset=utf-8
      Etag:
      - W/"8165ad8c8e21ae8bf5575a8c2acc0ac5"
      X-Node:
      - easypost
      - ef92c5b480
      - web6sj
      X-Backend:
      - easypost
      X-Proxied:
      - lb5sj, b89c00fb8c
    body:
      encoding: UTF-8
      string: '{"id":"adr_6ce7d8eaf58d4a92810fc64dec2b115a","object":"Address","created_at":"2015-12-15T18:30:20Z","updated_at":"2015-12-15T18:30:20Z","name":"John
        Doe","company":"Company","street1":"215 N 7th Ave","street2":"Northwest","city":"Manville","state":"NJ","zip":"08835","country":"US","phone":"5555550199","email":null,"mode":"test","carrier_facility":null,"residential":null,"federal_tax_id":null,"verifications":{}}'
  recorded_at: Tue, 15 Dec 2015 18:30:21 GMT
[...]
- request:
    method: post
    uri: https://api.easypost.com/v2/parcels
    body:
      encoding: US-ASCII
      string: parcel[weight]=10.0
    headers:
      Authorization:
      - Bearer CvzYtuda6KRI9JjG7SAHbA
      Content-Type:
      - application/x-www-form-urlencoded
  response:
    status:
      code: 201
      message: Created
    headers:
      Location:
      - "/api/v2/parcels/prcl_d5a0027401cd49959ba56d553f31e339"
      Content-Type:
      - application/json; charset=utf-8
      Etag:
      - W/"a2d9ae365aa5b0bcf298fa9aa6cb8992"
      X-Node:
      - easypost
      - ef92c5b480
      - web6sj
      X-Backend:
      - easypost
      X-Proxied:
      - lb5sj, b89c00fb8c
    body:
      encoding: UTF-8
      string: '{"id":"prcl_d5a0027401cd49959ba56d553f31e339","object":"Parcel","created_at":"2015-12-15T18:30:22Z","updated_at":"2015-12-15T18:30:22Z","length":null,"width":null,"height":null,"predefined_package":null,"weight":10.0,"mode":"test"}'
  recorded_at: Tue, 15 Dec 2015 18:30:23 GMT
- request:
    method: post
    uri: https://api.easypost.com/v2/shipments
    body:
      encoding: US-ASCII
      string: shipment[to_address][id]=adr_6ce7d8eaf58d4a92810fc64dec2b115a&shipment[from_address][id]=adr_ced4e183ae1f48c885ce46739e5306b3&shipment[parcel][id]=prcl_d5a0027401cd49959ba56d553f31e339
    headers:
      Authorization:
      - Bearer CvzYtuda6KRI9JjG7SAHbA
      Content-Type:
      - application/x-www-form-urlencoded
  response:
    status:
      code: 201
      message: Created
    headers:
      Location:
      - "/account/shipments/shp_8dc271a5e4df42d3a5b9d85eea61630d"
      Content-Type:
      - application/json; charset=utf-8
      Etag:
      - W/"1f2c5318693e591891651d97d2fd6a51"
      X-Node:
      - easypost
      - ef92c5b480
      - web11sj
      X-Backend:
      - easypost
      X-Proxied:
      - lb4sj, b89c00fb8c
    body:
      encoding: UTF-8
      string: '{"created_at":"2015-12-15T18:30:23Z","is_return":false,"messages":[],"mode":"test","options":{"currency":"USD","label_date":null},"reference":null,"status":"unknown","tracking_code":null,"updated_at":"2015-12-15T18:30:23Z","batch_id":null,"batch_status":null,"batch_message":null,"customs_info":null,"from_address":{"id":"adr_ced4e183ae1f48c885ce46739e5306b3","object":"Address","created_at":"2015-12-15T18:30:21Z","updated_at":"2015-12-15T18:30:21Z","name":null,"company":"Spree
        Test Store 9","street1":"131 S 8th Ave","street2":null,"city":"Manville","state":"NJ","zip":"08835","country":"US","phone":"2024561111","email":null,"mode":"test","carrier_facility":null,"residential":null,"federal_tax_id":null,"verifications":{}},"insurance":null,"parcel":{"id":"prcl_d5a0027401cd49959ba56d553f31e339","object":"Parcel","created_at":"2015-12-15T18:30:22Z","updated_at":"2015-12-15T18:30:22Z","length":null,"width":null,"height":null,"predefined_package":null,"weight":10.0,"mode":"test"},"postage_label":null,"rates":[{"id":"rate_d84304819d4a4000a590e49b76ecffca","object":"Rate","created_at":"2015-12-15T18:30:24Z","updated_at":"2015-12-15T18:30:24Z","mode":"test","service":"ParcelSelect","carrier":"USPS","rate":"5.70","currency":"USD","retail_rate":null,"retail_currency":null,"list_rate":"5.70","list_currency":"USD","delivery_days":null,"delivery_date":null,"delivery_date_guaranteed":null,"est_delivery_days":null,"shipment_id":"shp_8dc271a5e4df42d3a5b9d85eea61630d","carrier_account_id":"ca_mtb51Ve0"},{"id":"rate_b03b8376d4a9436ca2770b0d57e400b9","object":"Rate","created_at":"2015-12-15T18:30:24Z","updated_at":"2015-12-15T18:30:24Z","mode":"test","service":"Priority","carrier":"USPS","rate":"5.05","currency":"USD","retail_rate":null,"retail_currency":null,"list_rate":"5.05","list_currency":"USD","delivery_days":null,"delivery_date":null,"delivery_date_guaranteed":null,"est_delivery_days":null,"shipment_id":"shp_8dc271a5e4df42d3a5b9d85eea61630d","carrier_account_id":"ca_mtb51Ve0"},{"id":"rate_fdb762a352e14f15bd902d91cc4e3737","object":"Rate","created_at":"2015-12-15T18:30:24Z","updated_at":"2015-12-15T18:30:24Z","mode":"test","service":"First","carrier":"USPS","rate":"3.07","currency":"USD","retail_rate":null,"retail_currency":null,"list_rate":"3.07","list_currency":"USD","delivery_days":null,"delivery_date":null,"delivery_date_guaranteed":null,"est_delivery_days":null,"shipment_id":"shp_8dc271a5e4df42d3a5b9d85eea61630d","carrier_account_id":"ca_mtb51Ve0"},{"id":"rate_e41fee31ab3f40489c0761ddfc74918e","object":"Rate","created_at":"2015-12-15T18:30:24Z","updated_at":"2015-12-15T18:30:24Z","mode":"test","service":"Express","carrier":"USPS","rate":"15.13","currency":"USD","retail_rate":null,"retail_currency":null,"list_rate":"15.13","list_currency":"USD","delivery_days":1,"delivery_date":null,"delivery_date_guaranteed":null,"est_delivery_days":1,"shipment_id":"shp_8dc271a5e4df42d3a5b9d85eea61630d","carrier_account_id":"ca_mtb51Ve0"}],"refund_status":null,"scan_form":null,"selected_rate":null,"tracker":null,"to_address":{"id":"adr_6ce7d8eaf58d4a92810fc64dec2b115a","object":"Address","created_at":"2015-12-15T18:30:20Z","updated_at":"2015-12-15T18:30:20Z","name":"John
        Doe","company":"Company","street1":"215 N 7th Ave","street2":"Northwest","city":"Manville","state":"NJ","zip":"08835","country":"US","phone":"5555550199","email":null,"mode":"test","carrier_facility":null,"residential":null,"federal_tax_id":null,"verifications":{}},"usps_zone":1,"return_address":{"id":"adr_ced4e183ae1f48c885ce46739e5306b3","object":"Address","created_at":"2015-12-15T18:30:21Z","updated_at":"2015-12-15T18:30:21Z","name":null,"company":"Spree
        Test Store 9","street1":"131 S 8th Ave","street2":null,"city":"Manville","state":"NJ","zip":"08835","country":"US","phone":"2024561111","email":null,"mode":"test","carrier_facility":null,"residential":null,"federal_tax_id":null,"verifications":{}},"buyer_address":{"id":"adr_6ce7d8eaf58d4a92810fc64dec2b115a","object":"Address","created_at":"2015-12-15T18:30:20Z","updated_at":"2015-12-15T18:30:20Z","name":"John
        Doe","company":"Company","street1":"215 N 7th Ave","street2":"Northwest","city":"Manville","state":"NJ","zip":"08835","country":"US","phone":"5555550199","email":null,"mode":"test","carrier_facility":null,"residential":null,"federal_tax_id":null,"verifications":{}},"forms":[],"fees":[],"id":"shp_8dc271a5e4df42d3a5b9d85eea61630d","object":"Shipment"}'
  recorded_at: Tue, 15 Dec 2015 18:30:24 GMT
[...]
